
.titulo h1 {
    text-align: center;
    color: white;
}

h5 {
    color: white;
    width: 100px;
    height: 6px;
    padding-bottom: 12px;
    margin-left: 10px;
}

.angular-google-map-container {
    height: 500px;
}

#mapa {
    height: 500px;
    border-radius: 4px;
    border: 2px solid white;
    animation: fadeIn 0.5s;
}

.carregando {
    @include image-background("comunidade/spinner.png");
    color: white;
    text-align: center;
    margin-top: 55px;
    animation: fadeIn 0.5s;
    height: 275px;
    background-size: 150px;
    background-repeat: no-repeat;
    background-position: center;
}

#pac-input {
    background-color: #fff;
    font-size: 15px;
    font-weight: 300;
    margin-top: 10px;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 300px;
    &:focus {
        border-color: #4d90fe;
    }
}

.botoes-mapa {
    button {
        width: 85px;
        height: 75px;
        border-radius: 155px;
        border: none;
        background-color: transparent;
        background-repeat: no-repeat;
        @include image-background("comunidade/desabilitado.png");
        &:focus, &.focus, &.active, &:active, &.btn.active {
            text-decoration: none;
            border: none;
            outline: none;
            outline-offset: 0;
            background-color: transparent;
        }
    }

    &.clube-remo {
        button {
            &.active {
                @include image-background("comunidade/clube-remo.png");
            }
        }
    }

    &.crossfit {
        button {
            &.active {
                @include image-background("comunidade/crossfit.png");
            }
        }
    }

    &.musculacao {
        button {
            &.active {
                @include image-background("comunidade/musculacao.png");
            }
        }
    }

    &.aula-coletiva {
        button {
            &.active {
                @include image-background("comunidade/aula-coletiva.png");
            }
        }
    }
}

.botoes-mapa:focus, .botoes-mapa.input:focus, .botoes-mapa.select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.botoes-mapa:focus, .botoes-mapa.input:focus, .botoes-mapa.select:focus:hover {
    background-color: transparent;
}
