.lista-caixa{
  padding-bottom: 70px;
}

 .titulo h1 {
    text-align: center;
    color: white;
}

 h5 {
    color: white;
    width: 100px;
    height: 6px;
    padding-bottom: 12px;
    margin-left: 10px;
}

 #mapa {
    height: 500px;
    width: 700px;
    margin-left: 225px;
    border: 2px solid white;
    animation: fadeIn 0.5s;
}

 .controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

 .carregando {
    color: white;
    text-align: center;
    margin-top: 250px;
    margin-left: 376px;
    animation: fadeIn 0.5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

 img {
    margin-left: -10px;
    margin-top: -190px;
    width: 75px;
    height: 75px;
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 300px;
    display: none;
    &:focus {
    border-color: #4d90fe;
}
}

.pac-container {
    font-family: Roboto;
}

#type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0 11px;
    label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}
}


 .botoes-mapa {
    width: 100px;
    height: 88px;
    border-radius: 155px;
    border: none;
    background-color: transparent;

}

 .botoes-mapa:focus, .botoes-mapa.focus, .botoes-mapa.active, .botoes-mapa:active, .botoes-mapa.btn.active {
    border: none;
    width: 100px;
}

 .botoes-mapa.active:hover {
    background-color: transparent;
}

 .onde-remar {
    @include image-background("comunidade/onde-remar-verde.png");
}

 .onde1 {
    @include image-background("comunidade/onde-remar-vermelho.png");
}

 .onde2 {
    @include image-background("comunidade/onde-remar-amarelo.png");
}

 .onde3 {
    @include image-background("comunidade/onde-remar-azul.png");
}

 .onde-remar.active {
    @include image-background("comunidade/desablepng.png");
    text-decoration: none;
}

 .mapa-container {
    display: none;
}

 .botoes-mapa:focus, .botoes-mapa.input:focus, .botoes-mapa.select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

 .botoes-mapa:focus, .botoes-mapa.input:focus, .botoes-mapa.select:focus:hover {
    background-color: transparent;
}
