.endereco{
    color: white;
    margin-top: 15px;

}
 p {
        margin-bottom: 0;
 }


 .assinar{
     margin-top: 53px;

 }
 .email{
         margin-top: 10px;
     }
 .mensagem{
     margin-top: 10px;
 }
.angular-google-map-container {
    height: 366px;
}
 #mapas{
     height: 369px;
     width: 642px;
     border:3px solid white;
     margin-top: 15px;
 }