.borda-eventos {
    border: 5px solid white;
    &.sub-menu {
        background: linear-gradient(#2384bb, #092942, #092942, #2384bb);
        li {
            font-family: 'Open Sans', sans-serif;
            font-size: 16px;
            color: white;
            a {
                text-decoration: none;
                color: white;
                &:hover {
                    background-color: rgba(0, 0, 0, 0.4);
                }
            }
        }
    }
    &.destaque img {
        margin-left: -17px;
        height: 376px;
        margin-top: 5px;
    }
    img {
        margin-left: -15px;
    }
    &.resumo-evento {
        .data-evento {
            text-align: center;
            font-weight: bold;
            font-size: 19px;
            margin: 20px 0;
        }
        h4 {
            color: black;
            font-weight: bold;
            text-align: center
        }
        h5 {
            color: black;
            font-weight: bold;
            text-align: center
        }
        p {
            color: black;
            text-align: justify;
            font-size: small
        }
        button {
            background: radial-gradient(#962156, #7a224a);
            border: 2px solid black;
            margin-left: 70px;

        }
        a {
            text-decoration: none;
            color: white;
        }

    }
    .conteudo-interno {
        border: 2px solid #888;
        margin-left: -($grid-gutter-width / 2);
        margin-right: -($grid-gutter-width / 2);
        padding: ($grid-gutter-width / 2);
        min-height: 245px;
    }
}

.conteudo-evento {
    background-color: white;
}

.afiliacao {
    input {
        margin-top: -30px;
        margin-left: 122px;
    }
}

.inscricao {
    h3 {
        margin: 0 0 20px 0;
    }
    .instrucoes {
        padding-bottom: 20px;
        border-bottom: 2px inset #777;
    }
    .form-inscricao {
        padding: 15px 0;
        .prova {
            min-height: 89px;
        }
        .tipo-afiliacoes {
            li {
                cursor: pointer;
            }
        }
        .tabela-provas {
            max-height: 300px;
            overflow: auto;
        }
        .campo {
            .form-group {
                min-height: 80px;
            }
            .help-block {
                font-size: smaller;
            }
            &.sexo {
                padding-top: 20px;
                margin-bottom: -20px;
            }
            .control-label {
                i {
                    font-size: 12px;
                }
            }
            &.tipo-filiacao {
                button {
                    min-width: 124px;
                    height: 34px;
                    text-align: left;
                    .caret {
                        float: right;
                        margin-top: 7px;
                        display: inline-block;
                    }
                }
            }
        }
        .botoes {
            text-align: center;
        }
        .dropdown-provas {
            li {
                padding-left: 10px;
                font-size: 11px;
                cursor: pointer;
                &.dropdown-header {
                    font-size: 13px;
                    font-weight: bold;
                }
            }
        }
        .provas-selecionadas {
            box-sizing: border-box;
            list-style: none;
            padding: 0 5px 5px;
            width: 100%;
            border: 1px solid #aaa;
            border-radius: 4px;
            cursor: text;
            outline: 0;
            overflow: hidden;
            min-height: 33px;
            margin-bottom: 0;
            &.has-error {
                color: $state-danger-text;
                border-color: $state-danger-border;
            }
            &.has-success {
                color: $state-success-text;
                border-color: $state-success-border;
            }
            li {
                background-color: #e4e4e4;
                border: 1px solid #aaa;
                border-radius: 4px;
                cursor: default;
                float: left;
                margin-right: 5px;
                margin-top: 5px;
                padding: 0 5px;
                span {
                    color: #999;
                    cursor: pointer;
                    display: inline-block;
                    font-weight: bold;
                    margin-right: 2px;
                }
            }
        }
    }
}

#regulamento {
    h4 {
        font-weight: bold;
    }
}

.line1 {
    td {
        padding: 0px;
    }
}

.tabela {
    table {
        margin-left: 110px;
    }
}

.colocacao {
    background: linear-gradient(to right, black, blue, indigo, violet, lavender);
    background-attachment: fixed;
    background-size: contain;

    .posicao {
        background-color: white;
    }
}
