.borda-eventos {
    border: 5px solid white;
    &.sub-menu {
        background: linear-gradient(#2384bb, #092942, #092942, #2384bb);
        li {
            font-family: 'Open Sans', sans-serif;
            font-size: 16px;
            color: white;
            a {
                text-decoration: none;
                color: white;
                &:hover {
                    background-color: rgba(0, 0, 0, 0.4);
                }
            }
        }
    }
    &.destaque img {
        margin-left: -17px;
        height: 376px;
        margin-top: 5px;
    }
    img {
        margin-left: -15px;
    }
    &.resumo-evento {
        h4 {
            color: black;
            font-weight: bold;
            text-align: center
        }
        h5 {
            color: black;
            font-weight: bold;
            text-align: center
        }
        p {
            color: black;
            text-align: justify;
            font-size: small
        }
        button {
            background: radial-gradient(#962156, #7a224a);
            border: 2px solid black;
            margin-left: 70px;

        }
        a {
            text-decoration: none;
            color: white;
        }

    }
    .conteudo-interno {
        border: 2px solid #888;
        margin-left: -($grid-gutter-width / 2);
        margin-right: -($grid-gutter-width / 2);
        padding: ($grid-gutter-width / 2);
        min-height: 245px;
    }
}

.conteudo-evento {
    background-color: white;
}

.formulario-data {
    padding-bottom: 35px;
}

.form-afiliacao {
    width: 118px;
}

.afiliacao {
    input {
        margin-top: -30px;
        margin-left: 122px;
    }
}

.campo{
    .form-group{
        min-height: 77px;
    }
    .help-block{
        font-size: smaller;
    }
}

#regulamento{
    h4{
        font-weight: bold;
    }
}

.line1{
        td{
            padding: 0px;
        }
    }
.tabela{
    table{
        margin-left: 110px;
    }
}