.borda-eventos{
     border: 5px solid white;
     &.sub-menu{
       background: radial-gradient(#2384bb, #092942);
     }
     &.destaque img{
          margin-left: -17px;
          height: 376px;
          margin-top: 5px;
     }
     &.prop {
          img{margin-top: -70px;}


          }
          img{
          margin-left: -15px;
     }
     &.menuevento{
          min-height: 200px;
     }
     &.descricaoevento{
          h4{
          color: black;
          font-weight: bold;
          text-align: center
     }
          h5{
               color: black;
               font-weight: bold;
               text-align: center
          }
          p{
               color: black;
               text-align: justify;
               font-size: small
          }
          button{
               background: radial-gradient(#962156, #7a224a);
               border: 2px solid black;
               margin-left: 70px
          }
     }
     a{
          text-decoration: none;
          color: white;
     }
}
#menuevento{

    .menuri{
          margin-right: 25px;
     }
     ul{
         list-style: none;
          margin-left: 2px;
          padding-bottom: 50px;

     }
      li {
           display: inline;
           font-family: 'Open Sans', sans-serif;
           font-size: 140%;
           color: white;
      }
}
.conteudo-cabra{
     background-color: white;
}