.inscreva {
    background: radial-gradient(#962156, #7a224a);
    border: 2px solid black;
    margin-left: auto;
    a {
        text-decoration: none;
        color: white;
    }
}

.borda-eventos {
    border: 5px solid white;
    &.sub-menu {
        background-color: #092942;
        li {
            font-family: 'Open Sans', sans-serif;
            font-size: 16px;
            color: white;
            a {
                text-decoration: none;
                color: white;
                &:hover {
                    background-color: rgba(0, 0, 0, 0.4);
                }
            }
        }
    }
    &.destaque img {
        margin-left: -17px;
        height: 376px;
        margin-top: 5px;
    }
    img {
        margin-left: -15px;
    }
    &.resumo-evento {
        .data-evento {
            text-align: center;
            font-weight: bold;
            font-size: 19px;
            margin: 20px 0;
        }
        h4 {
            color: black;
            font-weight: bold;
            text-align: center
        }
        h5 {
            color: black;
            font-weight: bold;
            text-align: center
        }
        p {
            color: black;
            text-align: justify;
            font-size: small
        }
        a {
            text-decoration: none;
            color: white;
        }

    }
    .conteudo-interno {
        border: 2px solid #888;
        margin-left: -($grid-gutter-width / 2);
        margin-right: -($grid-gutter-width / 2);
        padding: ($grid-gutter-width / 2);
        min-height: 245px;
        overflow: hidden;
    }
}

.conteudo-evento {
    background-color: white;
}

.afiliacao {
    input {
        margin-top: -30px;
        margin-left: 122px;
    }
}

.inscricao {
    h3 {
        margin: 0 0 20px 0;
    }
    .instrucoes {
        padding-bottom: 20px;
        border-bottom: 2px inset #777;
    }
    .form-inscricao {
        padding: 15px 0;
        .prova {
            min-height: 89px;
        }
        .tipo-afiliacoes {
            li {
                cursor: pointer;
            }
        }
        .tabela-provas {
            max-height: 300px;
            overflow: auto;
        }
        .campo {
            .form-group {
                min-height: 80px;
            }
            .help-block {
                font-size: smaller;
            }
            &.sexo {
                padding-top: 20px;
                margin-bottom: -20px;
            }
            .control-label {
                i {
                    font-size: 12px;
                }
            }
            &.tipo-filiacao {
                button {
                    min-width: 124px;
                    height: 34px;
                    text-align: left;
                    .caret {
                        float: right;
                        margin-top: 7px;
                        display: inline-block;
                    }
                }
            }
        }
        .botoes {
            text-align: center;
        }
        .dropdown-provas {
            li {
                padding-left: 10px;
                font-size: 11px;
                cursor: pointer;
                &.dropdown-header {
                    font-size: 13px;
                    font-weight: bold;
                }
            }
        }
        .provas-selecionadas {
            box-sizing: border-box;
            list-style: none;
            padding: 0 5px 5px;
            width: 100%;
            border: 1px solid #aaa;
            border-radius: 4px;
            cursor: text;
            outline: 0;
            overflow: hidden;
            min-height: 33px;
            margin-bottom: 0;
            &.has-error {
                color: $state-danger-text;
                border-color: $state-danger-border;
            }
            &.has-success {
                color: $state-success-text;
                border-color: $state-success-border;
            }
            li {
                background-color: #e4e4e4;
                border: 1px solid #aaa;
                border-radius: 4px;
                cursor: default;
                float: left;
                margin-right: 5px;
                margin-top: 5px;
                padding: 0 5px;
                span {
                    color: #999;
                    cursor: pointer;
                    display: inline-block;
                    font-weight: bold;
                    margin-right: 2px;
                }
            }
        }
    }
}

.regulamento {
    ol {
        li {
            margin: 8px 0;
            text-align: justify;
        }
    }
}

.line1 {
    td {
        padding: 0;
    }
}

.tabela {
    table {
        margin-left: 110px;
    }
}

.colocacao {
    th {
        text-align: center;
    }
    td {
        text-align: center;
        font-size: 14px;
        font-weight: bold;
    }
    .posicao {
        background-color: white;
        text-align: left;
        font-weight: normal;
    }
    .colocacao-1 {
        background-color: $cor-primaria;
        color: #EEE;
    }
    .colocacao-2 {
        background-color: lighten($cor-primaria, 10%);
        color: #EEE;
    }
    .colocacao-3 {
        background-color: lighten($cor-primaria, 20%);
        color: #EEE;
    }
    .colocacao-4 {
        background-color: lighten($cor-primaria, 30%);
    }
    .colocacao-5 {
        background-color: lighten($cor-primaria, 40%);
    }
    .colocacao-6 {
        background-color: lighten($cor-primaria, 50%);
    }
    .colocacao-7 {
        background-color: lighten($cor-primaria, 60%);
    }
    .colocacao-8 {
        background-color: lighten($cor-primaria, 70%);
    }
    .pontuacao-1 {
        background-color: #e50014;
        color: #EEE;
    }
    .pontuacao-2 {
        background-color: #ff6225;
        color: #EEE;
    }
    .pontuacao-3 {
        background-color: #ff9734;
    }
    .pontuacao-4 {
        background-color: #ffcb44;
    }
    .pontuacao-5 {
        background-color: #ffcc9d;
    }
    .pontuacao-6 {
        background-color: #fcf253;
    }
    .pontuacao-7 {
        background-color: #fefea6;
    }
    .pontuacao-8 {
        background-color: #fff;
    }
}

.evento-horarios {
    th {
        text-align: center;
    }
    tr {
        &.intervalo {
            font-weight: bold;

        }
        td {
            text-align: center;
        }
    }
    .panel-heading {
        text-align: center;
        font-weight: bold;
    }
}

.filtro-provas {
    li {
        cursor: pointer;
    }
}

.sobre {
    text-align: center;
    .row {
        p {
            text-align: justify;
        }
        img {
            width: 60%;
            margin: 20px 0;
        }
        padding: 15px;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 10px;
        border-bottom: 1px solid #EEE;
        text-align: center;
    }
}