
@media (max-width: $screen-xs-max) {
    header {
        background-color: rgba(0, 0, 0, 0.45);
        .topo {
            border-bottom: 1px inset #444;
        }
    }
    #logo {
        width: 170px;
        height: 20px;
        @include image-background("logo-branco.png");
        background-size: contain;
        background-repeat: no-repeat;
        text-indent: -1000px;
    }
}
