
@media (max-width: $screen-xs-max) {
    .col-left {
        padding-left: ($grid-gutter-width / 2);
    }

    .col-right {
        padding-right: ($grid-gutter-width / 2);
    }

    header {
        background-color: rgba(0, 0, 0, 0.45);
        .topo {
            border-bottom: 1px inset #444;
        }
    }
    #social {
        margin-top: 0;
    }
    #logo {
        width: 77px;
        height: 36px;
        @include image-background("c2logo.png");
        background-size: contain;
        background-repeat: no-repeat;
        text-indent: -1000px;
        margin: -5px 0 5px;
    }
    footer {
        .missao {
            font-size: small;
            text-align: justify;
            margin-top: 10px;
            img{
                height: 74px;
                margin-top: 20%;
            }
        }
    }
}

