

.modelo {
    background-color: white;
    .imgp {
        margin-left: -30px;
        width: 625px;

    }
}
.descricao-caixa {
    margin-top: 20px;
    border-bottom: 1px solid #D0D0D0;
    border-left: 1px solid #D0D0D0;
    border-right: 1px solid #D0D0D0;

}


.colright {
    margin-top: 14px;
    img{
    width: 30%;
}


.img1 {
    margin-left: 84px;
}

.img2 {
    width: 40%;
}

.img3 {
    margin-top: 6px;
    margin-left: 85px;
    width: 25%;
}
.img4{
    width: 45%;
}
.img5{
        margin-left: 90px;
}
.img6{
    width: 40%;
}
}
.monitor{
    img{
        width: 90%;
    }
}
.descricao-monitor{
    p{
        margin-top: 60px;
    }
}
.tabela{
    td{
    padding-bottom: 20px;
    padding-top: 20px;
    }


}
