
.menu-produtos {
    margin-left: -15px;
    width: 177px;
    height: 386px;
    position: absolute;
    background-color: rgba(3, 12, 21, 0.6);
    .menu{
        color: white;
        margin-top: 0;
    }

    .submenu{
        a{
            padding-bottom: 7px;
            padding-top: 6px;
        }

    }
    a {
        text-decoration: none;
        color: white;
        padding-bottom: 9px;
        padding-top: 8px;
    }
    a:hover {
        color: white;
        background-color: #516371;
    }
    .nav-pills > li > a {
        border-radius: 0
    }
}
