
.menu-produtos {
    background-color: rgba(3, 12, 21, 0.6);
    .menu{
        color: white;
        margin-top: 0;
    }
    .remo{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .submenu{
        a{
            text-align: center;
            padding-bottom: 7px;
            padding-top: 6px;
        }

    }
    a {
        text-decoration: none;
        color: white;

    }
    a:hover {
        color: white;
        background-color: #516371;
    }
    .nav-pills > li > a {
        border-radius: 0
    }
}
.menu-nav{
   padding-left: 0;
    padding-right: 0;
}