
h2 {
    font-family: 'Oswald', sans-serif;
}

h3 {
    font-family: 'Oswald', sans-serif;
}

h4 {
    font-family: 'Oswald', sans-serif;
}

h5 {
    font-family: 'Oswald', sans-serif;
}
.caixa-texto {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 10px;
}
.menu-produtos {
    background-color: rgba(3, 12, 21, 0.6);
    margin-right: -15px;
    .nav > li > a:focus {
        background-color: #516371;
    }
    .menus{
         color: white;
        margin-top: 0;
        margin-left: 10px;
        p{
         margin-left: 15px;
        }
        a:hover{
            color: #516371;
            background-color: transparent;
        }
    }
    .produtos{
        margin-bottom: 25px;
    }
    .menu {
        color: white;
        margin-top: 0;
        background-color:#1f3040;
        a {
            text-align: center;
        }
        .sub-acessorios {
        a {
            font-size: small;
            margin-bottom: -10px;
            text-align: left;
        }
        .sub-pas{
            a{
                text-align: center;
            }
        }
    }

    }
    .remos{
        margin-top: 25px;
        margin-left: 10px;
    }
    .remo {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .submenu {
        a {
            padding-bottom: 7px;
            padding-top: 6px;
        }

    }
    .submenus {
        margin-left: 10px;
        a{
            padding-bottom: 7px;
            padding-top: 6px;
        }
        a:hover{
            color: #516371;
            background-color: transparent;
        }


    }

    .menu-remo {
        background-color:  #1f3040;
        a {
            padding-top: 25px;
            text-align: center;
            padding-bottom: 20px;

        }
    }
    a {
        text-decoration: none;
        color: white;

    }
    a:hover {
        color: white;
        background-color: #516371;
    }
    .nav-pills > li > a {
        border-radius: 0
    }
}

.menu-nav {
    padding-left: 0;
    padding-right: 0;
}

.descricao-remos {
    background-color: #444444;
    margin-left: 45px;
    p {
        color: #c0c0c0;
    }
}

.palameta {
    margin-top: 20px;
    img {
        width: 110%
    }
}