.suporte {
   @include image-background("Site-Concept2-V-4-fundo-azul.jpg");
    min-height: 500px;
    a {
        position: absolute;
        margin-top: 85px;
    }
    .row {
        margin-left: 95px;
        margin-right: -45px;
    }
    img{
         margin-top: 55px;
    }
    .perguntas {
        img {

            margin-left: 27px
        }
    }
    .quem-somos {
        a {
            margin-left: 28px;
        }
    }
    .manutencao{
        a{
            margin-left: 3px;
        }
    }
    .download{
        a{
            margin-left: 7px;
        }
    }
    .col-md-3{
        margin-top: 30px;
    }
    .regulagem{
        img{
            margin-left: 49px;
        }
    }
}
