@import "fontawesome/scss/font-awesome";
@import "bootstrap-sass/assets/stylesheets/bootstrap";
@import url(https://fonts.googleapis.com/css?family=Oswald);

$imageUrl: "/static/img/";
@mixin image-background($imageFile) {
    background-image: url($imageUrl + $imageFile);
}

$cor-primaria: #0f3d5e;

body {
 background: radial-gradient(#0f3d5e, #011121);
}

.col-left {
    padding-left: 0;
}

.col-right {
    padding-right: 0;
}

#logo {
    width: 282px;
    @include image-background("logo-branco.png");
    background-size: contain;
    background-repeat: no-repeat;
    text-indent: -1000px;
}

#social {
    a {
        color: white;
        margin-left: 25px;
    }
    text-align: right;
    overflow: hidden;
    margin-top: 8px;
    text-transform: uppercase;
}


header {
    background-color: rgba(0, 0, 0, 0.45);
    .topo {
        margin-top: 10px;
        padding-top: 10px;
    }
    .navegacao {
        &.navbar-default {
            background-color: rgba(0, 0, 0, 0);
            border-color: #555;
            .navbar-nav {
                a {
                    color: #DDD;
                    font-weight: bold;
                    &:hover {
                        color: #FFF;
                        background-color: rgba(0, 0, 0, .5);
                    }
                }
                .active {
                    a {
                        color: #EEE;
                        background-color: rgba(0, 0, 0, .6);
                    }
                }
            }
        }
        .form-busca {
            margin: 0;
            .form-group {
                margin-top: 8px;
            }
            i {
                font-size: 18px;
            }
        }
    }
}

.lista-caixa {

    h3 {
    font-size: x-large;
    font-weight: bold;
    color: white;
}

}

.caixa-conteudo {
    min-height: 308px;
    h3{
        margin: 0;
    }
}

.btn-disabled {
    background-color: #777;
    color: #999;
}

.pagina-home {
    @import "home";
}

$bg-lista: radial-gradient(#1e71a3, #0f3d5e);
$bg-panel-heading: rgba(0,0,0, 0.4);
$bg-panel-default: transparent;
.pagina-atleta {
    background: radial-gradient(circle, #0f354c, #00070f);
    @import "pagina-listagem";
    @import "atleta";
}

$bg-lista: radial-gradient(#1e71a3, #0f3d5e);
$bg-panel-heading: rgba(0,0,0, 0.4);
$bg-panel-default: transparent;
.pagina-produtos {
    background: radial-gradient(circle, #0f354c, #00070f);
    @import "pagina-listagem";
    @import "produtos";
    @import "modelod";
    @import "monitores";
}

.pagina-eventos {
    @import "pagina-listagem";
    @import "eventos";
    @import "evento";
}

$bg-lista: radial_gradient(#34505b, #132026);
.pagina-comunidade {
    @import "comunidade";
    @import "pagina-listagem";
}
.pagina-noticias {
    @import "noticias";
}

.pagina-suporte {
    @import "suporte";
}

.pagina-contato {
    background:  radial_gradient(#207bb0,#011121);;
    @import "contato";
    @import "pagina-listagem";
}

footer {
    margin-top: 20px;
    text-align: center;
    font-size: x-small;
    .links {
        padding-left: 0;
        list-style: none;
        li {
            margin-bottom: 5px;
            font-size: 12px;
            text-transform: uppercase;
            text-align: left;
        }
    }

    .christal {
        font-size: 12px;
        margin-bottom: 10px;
    }

    &.rodape {
        padding-top: 10px;
        border-top: 5px solid rgba(0, 0, 0, .3);
        background-color: rgba(0, 0, 0, .85);
        color: white;
    }
    .missao {
        font-size: small;
        text-align: justify;
        margin-top: 10px;
        img{
            height: 80px;
            margin-top: 15%;
        }
    }
    .newsletter {
        text-align: left;
        label {
            font-size: 12px;
            color: #EEE;
        }
        .input-group-btn {
            &:last-child > .btn {
                background-color: #eefd00;
                color: #5e5a69;
                font-weight: 800;
            }
        }
    }
    .facebook {
        margin-top: 10px;
    }
    .copyright {
        margin-top: 10px;
    }
}

@import "media-max";