<div class="container">
<div class="row">
    <div class="col-md-10">
        <div class="col-md-7 imagem">
            <img src="static/img/suporte/ergdata.jpg" style="margin-left: -30px;width: 105%;"/>
        </div>
        <div class="col-md-4" >
            <h3 style="text-align: center">Erg data</h3>
            <p style="text-align: justify">Este App, disponível para Iphone e Android está disponível gratuitamente e é um grande recurso para remar com um maior acompanhamento, envio diretamente para o seu LogBook Online, guardar dados após um treino, ouvir os dados de treino simplesmente para enxergar em más condições de luz.</p>
            <p>&nbsp;</p>
            <p>Faça o download</p>
            <img src="static/img/suporte/ergdataicon.jpg" style="width: 30%;"/>
            <img src="static/img/suporte/googleplayicon.jpg" style="margin-left: 35px;width: 45%;margin-top: -40px;"/>
            <img src="static/img/suporte/appicon.jpg"  style="margin-left: 128px;width: 44%;margin-top: -55px;"/>
        </div>
    </div>
</div>
</div>