<div class="container">
    <div class="row">
        <div class="col-md-10">
            <h2>Comparação</h2>

            <p>&nbsp;</p>

            <h3>Qual a melhor máquina para você?</h3>

            <p>&nbsp;</p>

            <p>&nbsp;</p>

            <h3>Uso Doméstico</h3>

            <p>&nbsp;</p>

            <div class="col-md-5">

                <h3>Modelo D</h3>

                <p>&nbsp;</p>
                <img src="static/img/produtos/model-d-home.jpg" style="width: 100%;"/>

                <p>&nbsp;</p>

                <p style="text-align: justify">O Modelo D com PM3 é nossa máquina mais vendida. Essa é a nossa opção
                    mais barata e inclui tudo que precisa para um excelente exercício em casa. O Modelo D com PM3 é o
                    mais familiar para todos que tiveram um contato com o esporte do remo na água e é o modelo mais
                    utilizado em clubes de remo. </p>

                <p style="text-align: justify">Para aqueles que querem ter um pouco mais por um preço mais acessível, o
                    Modelo D com PM4 é a opção caseira recomendável. Ele tem a facilidade, versatilidade e economia do
                    Modelo D com a excelência do PM4.</p>
            </div>
            <div class="col-md-5">
                <h3>Modelo E</h3>

                <p>&nbsp;</p>
                <img src="static/img/produtos/model-e-home.jpg" style="width: 100%;"/>

                <p>&nbsp;</p>

                <p style="text-align: justify">O Modelo E é uma excelente escolha se lhe interessam os recursos do PM4
                    ou se você prefere a estrutura mais imponente do Modelo E. A maior altura do assento facilita para
                    sentar, especialmente se você tem mobilidade restrita ou dificuldade de flexibilidade ou equilíbrio
                    nos joelhos ou quadril.</p>
            </div>
            <p>&nbsp;</p>

            <p>&nbsp;</p>

            <p>&nbsp;</p>
        </div>
        <div class="col-md-10">
            <h3>Clubes de Remo</h3>

            <p>&nbsp;</p>

            <div class="col-md-5">
                <h3>Modelo D</h3>

                <p>&nbsp;</p>
                <img src="static/img/produtos/rcot-model-d.jpg"/>

                <p>&nbsp;</p>

                <p style="text-align: justify">O Modelo D é uma excelente opção para um clube de remo. Além da opção
                    mais popular, é a mais econômica. Assim é possível obter uma maior quantidade de máquinas, ao
                    invés de usar menos máquinas Modelo E. É possível usar os slides para simular o efeito da água,
                    além de juntar duas ou mais máquinas para remar em conjunto. O Modelo D é impressionantemente
                    prático e requer uma manutenção mínima, perfeito para os horários restritos.</p>
            </div>
            <div class="col-md-5">
                <h3>Dynamic</h3>

                <p>&nbsp;</p>
                <img src="static/img/produtos/rcot-dynamic.jpg"/>

                <p>&nbsp;</p>

                <p style="text-align: justify">O Dynamic Rower é uma inovação e foi desenvolvido para simular um
                    efeito mais verossímil da água, muito parecido com o efeito provocado pelo uso dos slides. O
                    Dynamic oferece um movimento suave parecido com a água e pode ser unido a outros através de uma
                    barra especial para o remo em conjunto.O Dynamic requer uma manutenção mais especial e precisa
                    ser encomendado. Entre em contato conosco para mais informações.</p>
            </div>
        </div>

        <p>&nbsp;</p>

        <p>&nbsp;</p>

        <div class="col-md-10">
            <h3>Academias e Clubes de Fitness</h3>

            <p>&nbsp;</p>

            <div class="col-md-5">
                <h3>Modelo E</h3>

                <p>&nbsp;</p>
                <img src="static/img/produtos/pe.jpg">

                <p>&nbsp;</p>

                <p style="text-align: justify">O Modelo E foi desenvolvido especialmente para os ambientes de
                    fitness onde há um uso constante. Seu porte mais alto e estrutura mais imponente ajudam com a
                    melhor aceitação entre os usuários, além de facilitar o acesso. Sua estrutura mais forte
                    sustenta mais usuários por dia, melhorando o fluxo e diminuindo a necessidade de paradas para
                    manutenção.Se gosta de fazer competições, o Modelo E é a escolha ideal. O PM4 facilita a
                    execução de competições entre os praticantes, sejam durante as aulas, após, ou em horas vagas,
                    com as competições via Bluetooth.</p>
            </div>
            <div class="col-md-5">
                <h3>Modelo D</h3>

                <p>&nbsp;</p>
                <img src="static/img/produtos/hu.jpg"/>

                <p>&nbsp;</p>

                <p style="text-align: justify">Adotado por muitos estúdios de fitness, especialmente com o movimento
                    Crossfit, o Modelo D é uma opção mais econômica de incluir o Remo Indoor na academia. Para casos
                    com uso diminuído mas com interesse dos recursos adicionais, o Modelo D com PM4 também é uma boa
                    opção. Agora temos a opção do Modelo D preto, além do cinza.</p>
            </div>
        </div>
        <p>&nbsp;</p>

        <p>&nbsp;</p>

        <div class="col-md-9">
            <h3>Academias e Clubes de Fitness</h3>

            <p>&nbsp;</p>

            <h3>Modelo D</h3>

            <p>&nbsp;</p>

            <p style="text-align: justify">Muitas escolas optam pelo Modelo D com o PM4 para usufruir das
                capacidades de competição que o PM4 oferece. O PM4 é perfeito para competições de até oito
                participantes, pois não requer fios ou qualquer equipamento externo. As crianças adoram!</p>

        </div>
        <p>&nbsp;</p>

        <p>&nbsp;</p>

        <p>&nbsp;</p>

        <div class="col-md-10">
            <h3>Especificações:</h3>

            <p>&nbsp;</p>

            <div class="col-md-12">
                <table class="table table-striped tabela">
                    <tr>
                        <td><strong>Especificações</strong></td>
                        <td><strong><h4>Modelo D</h4></strong></td>
                        <td><strong><h4>Modelo E</h4></strong></td>
                    </tr>
                    <tr>
                        <td><strong>Monitor</strong></td>
                        <td>PM3</td>
                        <td>PM4</td>
                    </tr>
                    <tr>
                        <td><strong>Comprimento Total</strong></td>
                        <td>244</td>
                        <td>244</td>
                    </tr>
                    <tr>
                        <td><strong>Largura</strong></td>
                        <td>61 cm</td>
                        <td>61 cm</td>
                    </tr>
                    <tr>
                        <td><strong>Altura de Assento</strong></td>
                        <td>36 cm</td>
                        <td>51 cm</td>
                    </tr>
                    <tr>
                        <td><strong>Comprimento do trilho</strong></td>
                        <td>137 cm <br/> Espaço pra pernas de até 91 cm. <br/> Trilho maior disponível por um preço
                            adicional.
                            <br/> Entre em contato para mais informações.
                        </td>
                        <td>137 cm <br/> Espaço pra pernas de até 91 cm. <br/> Trilho maior disponível por um preço
                            adicional.
                            <br/> Entre em contato para mais informações.
                        </td>
                    </tr>
                    <tr>
                        <td><strong>Corrente</strong></td>
                        <td>Corrente niquelada</td>
                        <td>Corrente niquelada</td>
                    </tr>
                    <tr>
                        <td><strong>Quadro estrutural que contém a corrente</strong></td>
                        <td>Parcialmente fechada</td>
                        <td>Totalmente fechada</td>
                    </tr>
                    <tr>
                        <td><strong>Fonte de energia do monitor</strong></td>
                        <td><strong>PM3:</strong> garante energia quando o remoergômetro está em uso. <br/>
                            <strong>PM4:</strong> Bateria recarrega enquanto remoergômetro é usado.
                        </td>
                        <td><strong>PM4:</strong> Bateria recarrega enquanto remoergômetro é usado.</td>
                    </tr>
                    <tr>
                        <td><strong>Peso máximo do usuário</strong></td>
                        <td>277 Kg</td>
                        <td>277 Kg</td>
                    </tr>
                    <tr>
                        <td><strong>Pernas de apoio</strong></td>
                        <td>Pernas de frente de alumínio,pernas de trás de aço.</td>
                        <td>Aço soldado</td>
                    </tr>
                    <tr>
                        <td><strong>Braço do monitor</strong></td>
                        <td>Plástico ABS, Suporte para armazenamento e para ajustar a altura do monitor. <br/> Ângulo de
                            monitor também pode ser ajustado.
                        </td>
                        <td>Braço do monitor fixo feito de alumínio. <br/> Ângulo do monitor pode ser ajustado.</td>
                    </tr>
                    <tr>
                        <td><strong>Acabamento</strong></td>
                        <td>Pintura eletrostática.</td>
                        <td>Dupla camada de pintura além da camada de verniz.</td>
                    </tr>
                    <tr>
                        <td><strong>Cores</strong></td>
                        <td>Cinza claro ou preto</td>
                        <td>Cinza claro com partes em azul marinho.</td>
                    </tr>
                    <tr>
                        <td><strong>Requisitos de espaço</strong></td>
                        <td><strong>Montado:</strong> 244 cm x 61 cm <br/> <strong>Espaço ideal durante uso: </strong>
                            274 cm x 122 cm
                            <br/><strong>Para armazenamento:</strong> 63,5 x 83,8 x 137,2 cm
                        </td>
                        <td><strong>Montado: </strong>244 cm x 61 cm <br/><strong>Espaço ideal durante uso:</strong> 274 cm x 122 cm
                            <br/> <strong>Para armazenamento:</strong> 68,6 x 119,4 x 137,2 cm</td>
                    </tr>

                    <tr>
                        <td><strong>Peso da máquina</strong></td>
                        <td>26 kg</td>
                        <td>29 kg</td>
                    </tr>
                    <tr>
                        <td><strong>Dimensões para transporte</strong></td>
                        <td>Uma caixa: <br/>38 cm x 55 cm x 142 cm</td>
                        <td>Duas caixas: <br/>38 cm x 55 cm x 142 cm <br/> 33 cm x 66 cm x 71 cm  </td>
                    </tr>
                    <tr>
                        <td><strong>Peso para transporte</strong></td>
                        <td>32 kg</td>
                        <td>Caixa 1: 32 kg <br/>Caixa 2: 14 kg</td>
                    </tr>
                    <tr>
                        <td><strong>Armazenagem</strong></td>
                        <td>Pode ser separado em duas partes para fácil armazenagem.</td>
                        <td>Pode ser separado em duas partes para fácil armazenagem</td>
                    </tr>
                </table>
            </div>
        </div>

    </div>
</div>
</div>