<div class="container">
    <div class="row">
        <div class="col-md-10">
            <h3><strong>Smoothie2 Vortex Edge</strong></h3>
             <p>&nbsp;</p>
            <p>O Smoothie2 Vortex Edge é uma pá com a mesma tecnologia de todos os outros nossos projetos, equilibrando mais ainda a sua eficácia.</p>
            <p>&nbsp;</p>
            <h4><strong>Perfil de Carga:</strong></h4>
            <p>Perfil de carga refere-se a carga em relação às diferentes fases de como a pá progride através do contato com a água.</p>
            <p>&nbsp;</p>
            <h4><strong>Perfil de carga da Smoothie Vortex Edge:</strong></h4>
            <p><i class="fa fa-check">Nítida aderência na entrada da água</i></p>
            <p><i class="fa fa-check">Carga pesada na remada de entrada 1/3 da remada</i></p>
            <p><i class="fa fa-check">Carga leve na remada de saída 1/3 da remada</i></p>
            <p><i class="fa fa-check">Eixo resistente</i></p>
            <p>&nbsp;</p>
            <p>A pá Smoothie2 Vortex Edge aumenta a resistência na primeira e segunda fase da remada. A aceleração da pá se dá através da quarta fase da remada. No entanto, estas características funcionais são tão importantes como são para o FAT2.</p>
            <p>&nbsp;</p>
            <h4><strong>Como o Smoothie2 Vortex Edge impulsiona o barco:</strong></h4>
            <p><i class="fa fa-check">Cria uma zona de baixa pressão atrás da pá devido às flexas do Vortex, o que faz a água entrar atrás da pá evitando a cavitação.</i></p>
            <p><i class="fa fa-check">Oferece um intermediário perfil de carga que está mais próximo da pá FAT2</i></p>
            <p><i class="fa fa-check">Com a aceleração no final da remada mais semelhante ao Big Blade, mantém a pressão na pá à medida que o remo atravessa a água.</i></p>
            <p>&nbsp;</p>
            <h4><strong>Dimensões e Área de Superfície:</strong></h4>
             <p>&nbsp;</p>
            <table class="table table-striped tabela">
                <tr>
                    <td></td>
                    <td>Palamente Simples</td>
                    <td>Palamenta Dupla</td>
                </tr>
                <tr>
                    <td><strong>Superfície</strong></td>
                    <td>1156 cm²</td>
                    <td>809 cm²</td>
                </tr>
                <tr>
                    <td><strong>Comprimento do remo</strong></td>
                    <td>54,5 cm</td>
                    <td>46 cm</td>
                </tr>
                <tr>
                    <td><strong>Largura do bico</strong></td>
                    <td>19 cm</td>
                    <td>16,5 cm</td>
                </tr>
                <tr>
                    <td><strong>Largura no ponto mais amplo</strong></td>
                    <td>25,5 cm</td>
                    <td>21,5 cm</td>
                </tr>
            </table>
            <p>&nbsp;</p>
            <h4><strong>Características desta Pá:</strong></h4>
            <p><i class="fa fa-check">Vortex Edge com menos vela na ponta comparando com a FAT2</i></p>
            <p><i class="fa fa-check">Curvatura para auxiliar no controle de profundidade</i></p>
            <p>&nbsp;</p>
             <div class="col-md-10">
            <h5><strong>Palameta Simples:</strong></h5>

            <p>&nbsp;</p>

            <div class="col-md-4 palameta">
                <img src="static/img/produtos/remos/Fat2swp_bladeBLU_wL.jpg"/>
            </div>
            <div class="col-md-4  palameta">
                <img src="static/img/produtos/remos/Fat2swp_curveBLU_wL.jpg"/>
            </div>
            <div class="col-md-4  palameta">
                <img src="static/img/produtos/remos/Fat2swp_scoopBLU_wL.jpg"/>
            </div>
            <p>&nbsp;</p>
            </div>
            <div class="col-md-10">
            <h5><strong>Palameta Dupla:</strong></h5>

            <p>&nbsp;</p>

            <div class="col-md-4 palameta">
                <img src="static/img/produtos/remos/Fat2Scl_bladeBLU_wL.jpg"/>
            </div>
            <div class="col-md-4  palameta">
                <img src="static/img/produtos/remos/Fat2Scl_curveBLU_wL.jpg"/>
            </div>
            <div class="col-md-4  palameta">
                <img src="static/img/produtos/remos/Fat2Scl_scoopBLU_wL.jpg"/>
            </div>
             </div>

        </div>
    </div>
</div>