<div class="container">
    <div class="row">
        <div class="col-md-10">
            <h3><strong>Capas</strong></h3>
            <p>&nbsp;</p>
            <p>Precisa de uma proteção extra pro seu modelo C, D ou E? Nós temos a solução.</p>
            <p>Feito de poliéster/vinil laminado com guias de velcro na borda inferior, nossas capas de Remo Indoor são resistentes à água e oferecem proteção contra poeira e sujeira. Eles não são projetados para fornecer proteção em tempo integral contra o calor para remoergômetros que são armazenados do lado de fora.</p>
            <p>&nbsp;</p>
            <h4><strong>Capa para os modelos C e D</strong></h4>
            <p>Capa projetada para uso dos modelos A, B, C, ou D apenas. Não é compatível com um modelo E ou o Dynamic.</p>
            <img style="width: 50%;margin-left: 140px;" src="static/img/produtos/cover-a-b-c-d.jpg"/>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <h4><strong>Capa para os modelo E</strong></h4>
            <p>Capa projetada para o remoergômetro modelo E apenas.</p>
            <img style="width: 45%;margin-left: 140px;" src="static/img/produtos/cover-e.jpg"/>
            <p>&nbsp;</p>
            <p>&nbsp;</p>


        </div>
    </div>
</div>