logs/*
!.gitkeep
node_modules/
bower_components/
app/downloads/
app/static/css/*.css
app/static/js/app.js
app/static/js/componentes.js
app/static/js/*.min.js
app/static/admin/css/*.css
app/static/admin/js/app-admin.js
app/static/admin/js/componentes-admin.js
app/static/admin/js/*.min.js
.DS_Store
.idea
.sass-cache
*.pyc