<div class="container-fluid">
    <h3>Dados:</h3>

    <form novalidate name="formEdicao" class="form-edicao" role="form" ng-submit="enviandoEdicao(formEdicao)">
        <div class="row">
            <div class="col-md-2 campo">
                <div class="form-group has-feedback formInput"
                     ng-class="{'has-success': campoEstaValido(formEdicao.nome), 'has-error': campoEstaInvalido(formEdicao.nome)}">
                    <label class="control-label" for="nome">Nome: <i class="fa fa-asterisk"></i></label>
                    <input type="text" class="form-control" id="nome" name="nome" ng-model="atleta.nome" aria-describedby="helpNome" required/>
                    <span class="fa form-control-feedback" aria-hidden="true"
                          ng-class="{'fa-check': campoEstaValido(formEdicao.nome), 'fa-close': campoEstaInvalido(formEdicao.nome)} "></span>
                    <span id="helpNome" class="help-block" ng-show="campoEstaInvalido(formEdicao.nome)">* o campo é obrigatório *</span>
                </div>
            </div>
            <div class="col-md-2 campo">
                <div class="form-group has-feedback formInput"
                     ng-class="{'has-success': campoEstaValido(formEdicao.sobrenome), 'has-error': campoEstaInvalido(formEdicao.sobrenome)}">
                    <label class="control-label" for="sobrenome">Sobrenome: <i class="fa fa-asterisk"></i></label>
                    <input type="text" class="form-control" id="sobrenome" name="sobrenome" ng-model="atleta.sobrenome" aria-describedby="helpSobrenome" required/>
                    <span class="fa form-control-feedback" aria-hidden="true"
                          ng-class="{'fa-check': campoEstaValido(formEdicao.sobrenome), 'fa-close': campoEstaInvalido(formEdicao.sobrenome)} "></span>
                    <span id="helpSobrenome" class="help-block" ng-show="campoEstaInvalido(formEdicao.sobrenome)">* o campo é obrigatório *</span>
                </div>
            </div>
            <div class="col-md-3 campo">
                <div class="form-group has-feedback formInput"
                     ng-class="{'has-success': campoEstaValido(formEdicao.email), 'has-error': campoEstaInvalido(formEdicao.email)}">
                    <label class="control-label" for="email">Email: <i class="fa fa-asterisk"></i></label>
                    <input type="email" class="form-control" id="email" name="email" ng-model="atleta.email" aria-describedby="helpEmail" required/>
                    <span class="fa form-control-feedback" aria-hidden="true"
                          ng-class="{'fa-check': campoEstaValido(formEdicao.email), 'fa-close': campoEstaInvalido(formEdicao.email)} "></span>
                    <span id="helpEmail" class="help-block" ng-show="campoEstaInvalido(formEdicao.email)">* o campo é obrigatório *</span>
                </div>
            </div>
            <div class="col-md-2 campo">
                <div class="form-group has-feedback formInput"
                     ng-class="{'has-success': campoEstaValido(formEdicao.cpf), 'has-error': campoEstaInvalido(formEdicao.cpf)}">
                    <label class="control-label" for="cpf">CPF: <i class="fa fa-asterisk"></i></label>
                    <input type="text" class="form-control" id="cpf" name="cpf" ng-model="atleta.cpf" aria-describedby="helpCPF" required ui-br-cpf-mask/>
                    <span class="fa form-control-feedback" aria-hidden="true"
                          ng-class="{'fa-check': campoEstaValido(formEdicao.cpf), 'fa-close': campoEstaInvalido(formEdicao.cpf)} "></span>
                    <span id="helpCPF" class="help-block" ng-show="campoEstaInvalido(formEdicao.cpf)">* o campo é obrigatório *</span>
                </div>
            </div>
            <div class="col-md-2 campo">
                <div class="form-group has-feedback formInput"
                     ng-class="{'has-success': campoEstaValido(formEdicao.dataNascimento), 'has-error': campoEstaInvalido(formEdicao.dataNascimento)}">
                    <label class="control-label" for="dataNascimento">Nascimento: <i class="fa fa-asterisk"></i></label>
                    <input type="date" class="form-control" id="dataNascimento" name="dataNascimento" ng-model="atleta.dataNascimento" aria-describedby="helpdataNascimento" required/>
                    <span class="fa form-control-feedback" aria-hidden="true"
                          ng-class="{'fa-check': campoEstaValido(formEdicao.dataNascimento), 'fa-close': campoEstaInvalido(formEdicao.dataNascimento)} "></span>
                    <span id="helpdataNascimento" class="help-block" ng-show="campoEstaInvalido(formEdicao.dataNascimento)">* o campo é obrigatório *</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1 campo">
                <div class="form-group formInput">
                    <label class="control-label" for="sexo">Sexo:</label><br />
                    <toggle ng-model="masculinoSelecionado" ng-change="trocaSexo()" id="sexo" on="Masc" off="Fem" onstyle="btn-primary" offstyle="btn-primary"></toggle>
                </div>
            </div>
            <div class="col-md-2 campo">
                <div class="form-group has-feedback formInput" ng-class="{'has-success': campoEstaValido(formEdicao.telefone), 'has-error': campoEstaInvalido(formEdicao.telefone)}">
                    <label class="control-label" for="celular">Celular: <i class="fa fa-asterisk"></i></label>
                    <input type="tel" class="form-control" id="celular" name="celular" ng-model="atleta.celular" aria-describedby="helpCelular" required ui-br-phone-number/>
                    <span class="fa form-control-feedback" aria-hidden="true" ng-class="{'fa-check': campoEstaValido(formEdicao.celular), 'fa-close': campoEstaInvalido(formEdicao.celular)} "></span>
                    <span id="helpCelular" class="help-block" ng-show="campoEstaInvalido(formEdicao.celular)">* o campo é obrigatório *</span>
                </div>
            </div>
            <div class="col-md-2 campo">
                <div class="form-group formInput">
                    <label class="control-label" for="telefone">Telefone:</label>
                    <input type="text" class="form-control" id="telefone" name="telefone" ng-model="atleta.telefone" aria-describedby="helpTelefone" ui-br-phone-number/>
                </div>
            </div>
            <div class="col-md-3 campo">
                <div class="form-group has-feedback formInput"
                     ng-class="{'has-success': campoEstaValido(formEdicao.tecnico), 'has-error': campoEstaInvalido(formEdicao.tecnico)}">
                    <label class="control-label" for="tecnico">Email do Técnico:</label>
                    <input type="email" class="form-control" id="tecnico" name="tecnico" ng-model="atleta.tecnico" aria-describedby="helpTecnico" required/>
                    <span class="fa form-control-feedback" aria-hidden="true"
                          ng-class="{'fa-check': campoEstaValido(formEdicao.tecnico), 'fa-close': campoEstaInvalido(formEdicao.tecnico)} "></span>
                    <span id="helpTecnico" class="help-block" ng-show="campoEstaInvalido(formEdicao.tecnico)">* o campo é obrigatório *</span>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <button class="btn btn-primary" type="submit">Salvar e voltar pra lista</button>
            <button class="btn btn-primary" type="button" ng-click="salvarAdicionar(formEdicao)">Salvar e adicionar outro</button>
        </div>
    </form>
</div>