<div class="container">
    <div class="row">
        <div class="col-md-10">
            <h3>Nielsen Kellerman</h3>
             <p>&nbsp;</p>
            <p>Os equipamentos de aferição mais usados no mundo do remo. Para remadores, timoneiros e técnicos.</p>
            <p>&nbsp;</p>
            <div class="col-md-4">
                <img src="static/img/produtos/nk/strokecoach.jpeg" style="margin-left: 43px;"/>
                <h3 style="text-align: center">Stroke Coach</h3>
                <p style="text-align: justify">O Stroke Coach Surge Rate fornece os dados básicos de um treino de remo, incluindo tempo, voga e contagem de remadas, com memória para consulta, sem o uso de fios.</p>
            </div>
            <div class="col-md-4">
                <img src="static/img/produtos/nk/speedcoach.jpg" style="width: 71%;margin-left: 40px;"/>
                <h3 style="text-align: center">Speed Coach</h3>
                <p style="text-align: justify">O Speed Coach fornece todas as informações necessárias para uma competição, incluindo tempo, voga, distância percorrida e passagem de 500 m.</p>
            </div>
            <div class="col-md-4">
                <img src="static/img/produtos/nk/NKSCGOLD.jpg" style="margin-top: 25px;margin-left: 24px;"/>
                 <p>&nbsp;</p>
                <h3 style="text-align: center">Speed Coach Gold</h3>
                <p style="text-align: justify">O famoso Speed Coach Gold contém todas as funções do Speed Coach, com mais espaço de armazenamento, iluminação para o display, e treinos programáveis.</p>
            </div>

          </div>
        <div class="col-md-10">
            <div class="col-md-4">
                <img src="static/img/produtos/nk/interval-2000-watch-split-time-stroke-rate.jpg" style="margin-top: 25px;margin-left: 24px;"/>
                 <p>&nbsp;</p>
                <h3 style="text-align: center">Interval 2000</h3>
                <p style="text-align: justify">O perfeito relógio para técnicos e timoneiros, com marcações específicas para 2000 metros, consulta imediata e interface para o computador.</p>
            </div>
            <div class="col-md-4">
                <img src="" style=" width: 199px; height: 199px;margin-top: 25px;margin-left: 24px;"/>
                 <p>&nbsp;</p>
                <h3 style="text-align: center">Speed Coach XL</h3>
                <p style="text-align: justify">A supremacia da monitoração de treinos - o Speed Coach XL tem todas as funções do Speed Coach Gold, além de comunicar-se com o técnico para um acompanhamento em tempo real.</p>
            </div>
            <div class="col-md-4">
                <img src="" style="margin-top: 25px;margin-left: 24px;"/>
                 <p>&nbsp;</p>
                <img src="static/img/produtos/nk/500x500_CoxBox_angle1.jpg" style="width: 70%;margin-left: 40px;"/>
                <h3 style="text-align: center">Cox Box</h3>
                <p style="text-align: justify">O sistema Cox-Box mostra o tempo, voga e conta remadas numa tela grande e conta com um sistema de amplificação.</p>
            </div>
            <div class="col-md-10">
                <div class="col-md-4">
                <img src="static/img/produtos/nk/cox-box-mini-voice-amplifier-compact.jpg"/>
                 <p>&nbsp;</p>
                <h3 style="text-align: center">Cox Box Mini</h3>
                <p style="text-align: justify">Um sistema de amplificação para barcos de competição, a prova d'água e flutuante.</p>
            </div>
                <div class="col-md-4">
                <img src="static/img/produtos/nk/microphone-with-headband-old-style-cox-box_1.jpg"/>
                 <p>&nbsp;</p>
                <h3 style="text-align: center">Microfone para Timoneiro</h3>
                <p style="text-align: justify">Um microfone à porva d'água que é conectado ao Cox Box para amplificação de voz pelos falantes no barco.</p>
            </div>
                <div class="col-md-4">
                 <img src="" style=" width: 199px; height: 199px;"/>
                 <p>&nbsp;</p>
                <h3 style="text-align: center">Falante para Barco</h3>
                <p style="text-align: justify">Falantes à prova d'água para barcos timoneados, conectado ao Cox Box.</p>
            </div>
                 <p>&nbsp;</p>
                 <p>&nbsp;</p>
                 <p>&nbsp;</p>
                 <p>&nbsp;</p>
            </div>
            <div class="col-md-10">
                <h3>Kestrel</h3>
                <p>Os equipamentos de aferição de tempo Kestrell são os mais precisos do mundo, usados mundo afora por equipes profissionais e militares. Cada medidor Kestrell tem recursos especiais:</p>
                <p>&nbsp;</p>
                <div class="col-md-4">
                    <img src="static/img/produtos/nk/kestrel-1000-blue-wind-speed.jpg.jpg"/>
                    <h3>1000</h3>
                    <p>Velocidade atual do vento <br/> Velocidade máxima de rajada <br/> Velocidade media do vento</p>
                </div>
                <div class="col-md-4">
                    <img src="static/img/produtos/nk/kestrel-2000-green-wind-chill-temperature.jpg.jpg"/>
                    <h3>2000</h3>
                    <p>Velocidade atual do vento <br/> Velocidade máxima de rajada <br/>  Velocidade media do vento
                        <br/> Temperatura do ar, água e neve <br/>Fator de esfriamento do vento</p>
                </div>
            </div>
        </div>
    </div>
</div>