<div class="container">
<div class="row">
    <div class="col-md-10">
        <div class="col-md-7 imagem">
            <img src="static/img/suporte/rowpro.jpg" style="width: 100%;margin-left: -20px;"/>
        </div>
        <div class="col-md-4">
            <h3 style="text-align: center">RowPro</h3>
            <p style="text-align: justify">Nesta nova versão de RowPro é impossível além de criar seu avatar em 3D e competir com pessoas de todo o mundo online, também criar competições ao vivo com até 16 <participantes class=""></participantes></p>
            <p>&nbsp;</p>
            <img src="static/img/suporte/rowicon.jpg" style="margin-left: 70px;"/>
            <p>&nbsp;</p>
            <p style="margin-left: 93px;"><a href="">digitalrowling.com</a></p>

        </div>
    </div>
</div>
</div>