<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3><strong>Kit de Conexão Iphone</strong></h3>
            <p>&nbsp;</p>
            <p>O Kit de Conexão iPhone é usado para conectar um PM3 ou PM4 para um dispositivo iOS para o uso de softwares como o ErgData. O kit contém um cabo iConnect da Concept2 para conectar o monitor (PM) para o dispositivo iOS e um encaixe de smartphone. O encaixe de smartphones desliza em cima do PM fornecendo um lugar deixar seu dispositivo iOS ao usar o remoergômetro ou SkiErg.</p>
            <p>O cabo é compatível com iPhone® 3GS, 4, 4S e iPod Touch ® 4G.</p>
            <p><strong>Importante:</strong> Por favor, saiba dos problemas conhecidos de compatibilidade com o monitor de performance antes da compra.</p>
            <p>O encaixe para acomodar todos os modelos de iPhone e iPod Touch, assim como muitos outros dispositivos móveis. Para referência, as dimensões internas do slot do dispositivo na base de 1,5 cm de profundidade por 13,2m de largura.</p>
            <p>Os componentes do kit também são vendidos separadamente:</p>
            <p><i class="fa fa-check">Cabo iConnect da Concept2 - Peça 2422</i></p>
            <p><i class="fa fa-check">Encaixe para smartphone para PM3 e PM4-Peça 1093.</i></p>
            <p>iPhone e iPod Touch são marcas comerciais da Apple Inc., registradas nos EUA e outros países.</p>
        </div>
        <div class="col-md-6">
            <img style=" width: 55%; margin-top: 50px;" src="static/img/produtos/iconnectconcept2-kit.jpg  "/>
        </div>
    </div>
</div>