<div class="container">
    <div class="row">
        <div class="col-md-11">
            <div class="col-md-6">
                <h3>Monitor de Performance</h3>

                <p>&nbsp;</p>

                <p>O Monitor de Performance é o que diferencia o SkiErg Concept2 de outros equipamentos cross-training:
                    sofisticado mas fácil de usar, ele permite um acesso do seu desempenho bastante fácil e preciso,
                    além de uma monitoração de progresso para comparar seus dados com seus amigos. Cada SkiErg vem com o
                    PM4, que inclui a mais nova tecnologia.</p>
            </div>
            <div class="col-md-5">
                <img src="static/img/produtos/SKIERG/monitor.jpg"/>
            </div>
        </div>
        <p>&nbsp;</p>

        <p>&nbsp;</p>

        <div class="col-md-11">
            <div class="col-md-3">
                <p>&nbsp;</p>

                <p>&nbsp;</p>
                <img src="static/img/produtos/SKIERG/mounting-options.jpg"/>
            </div>
            <div class="col-md-6">
                <p>&nbsp;</p>

                <p>&nbsp;</p>

                <h3>Montado no Suporte ou Parede</h3>

                <p>O SkiErg pode ser tanto montado na parede ou apoiado com o suporte de chão. Prender na parede é uma
                    opção mais compacta, enquanto usando o suporte, com seu piso antiderrapante e rodinhas, torna o
                    SkiErg móvel. De qualquer forma, o SkiErg é fácil de ser montado, e nós enviamos todas as
                    ferramentas que precisam.</p>
            </div>
        </div>
        <div class="col-md-9">
            <p>&nbsp;</p>

            <p>&nbsp;</p>

            <h3>Corda de Puxada de Alta-Resistência</h3>

            <p>&nbsp;</p>

            <p>O SkiErg usa cordas de alta-resistência feitas de Dyneema®. Quinze vezes mais forte que o aço, esse
                material é extremamente leve, resultando em um sistema que é responsivo e suave.</p>
        </div>

        <div class="col-md-11">
            <p>&nbsp;</p>

            <p>&nbsp;</p>

            <div class="col-md-7">
                <h3>Flywheel e Nível de Abertura</h3>

                <p>&nbsp;</p>

                <p>O SkiErg responde ao sua força em cada puxada, assim você tem controle total do esforço e resistência
                    o tempo todo. O nível de abertura em espiral permite um ajuste rápido do flywheel, para que você
                    possa mudar a sensação da puxada de acordo com sua preferência. Queira você que seu treino simule um
                    terreno plano ou uma subida, o SkiErg responderá às suas necessidades.</p>
            </div>
            <div class="col-md-4">
                <img src="static/img/produtos/SKIERG/flywheel.jpg"/>
            </div>
        </div>
        <div class="col-md-11">
            <div class="col-md-3">
                <p>&nbsp;</p>

                <p>&nbsp;</p>
                <img src="static/img/produtos/SKIERG/straps.jpg"/>
            </div>
            <div class="col-md-7">
                <p>&nbsp;</p>

                <p>&nbsp;</p>

                <h3>Presilhas Ajustáveis para as Mãos</h3>

                <p>Nossas presilhas de mão são como os bastões de esqui nórdico e podem ser ajustados para caberem sua
                    mão, para que a máquina seja usada por quase qualquer um.</p>
            </div>
        </div>

        <div class="col-md-9">
            <p>&nbsp;</p>

            <p>&nbsp;</p>

            <p>&nbsp;</p>

            <h3>Construção Durável que é Fácil de Manter</h3>

            <p>&nbsp;</p>

            <p>Nossas máquinas são conhecidas por sua durabilidade e construção. Resistentes e construídas para durar,
                nossas máquinas aturam uso rigoroso nos centros de esqui nórdico, salas de estar, academias, bases
                militares e academias de luta ao redor do mundo. Nós garantimos que nossas máquinas são fáceis de se
                cuidar para que você possa focar o seu tempo em usufruir do seu investimento, e não na manutenção.</p>
        </div>

        <div class="col-md-9">
            <p>&nbsp;</p>

            <p>&nbsp;</p>

            <p>&nbsp;</p>

            <h3>Acessórios Incluídos</h3>

            <p>&nbsp;</p>
            <h4>Nós incluímos os seguintes acessórios com a compra de seu SkiErg</h4>

            <p>&nbsp;</p>

            <p><i class="fa fa-check">LogCard</i></p>

            <p><i class="fa fa-check">Cabo USB para conectar o PM4 no computador para acessar seu LogCard e fazer atualizações</i></p>
            <p><i class="fa fa-check">Manual de usuário do SkiErg e do PM4</i></p>
            <p><i class="fa fa-check">Ferramentas e instruções ilustradas para montagem</i></p>
            <p><i class="fa fa-check">Faixa de monitoração de frequência cardíaca</i></p>
            <p><i class="fa fa-check">Bateria recarregável</i></p>
        </div>
        <div class="col-md-9">
            <p>&nbsp;</p>

            <p>&nbsp;</p>


            <h3>Acessórios Opcionais</h3>

            <p>&nbsp;</p>

            <p><i class="fa fa-check">Suporte de chão para ter o SkiErg em pé e móvel</i></p>

            <p><i class="fa fa-check">Kit de frequência cardíaca para faixas Polar</i></p>
            <p><i class="fa fa-check">Leitor de LogCard para facilmente ler seu LogCard no seu computador</i></p>
            <p><i class="fa fa-check">Wahoo Key para usar o ErgBuddy para iPhone/iPad no PM4</i></p>

        </div>
    </div>
</div>