<div class="col-md-7">
     <img class="imgp" src="../../../static/img/produtos/SKIERG/_skiergbgbranco.jpg " style=" width: 65%;margin-left: 35px;"/>
</div>
<div class="col-md-5 colright">

</div>
<div class="col-md-12">
    <nav>
        <ul class="nav nav-tabs">
            <li role="presentation" ng-repeat="descricao in modelosMenu" ng-class="{'active': modeloMenu == descricao.slug}"><a href="#/produtos/{{slug}}/{{descricao.slug}}">{{descricao.nome}}</a></li>

        </ul>
    </nav>
    <div class="col-md-12 descricao-caixa">
        <div ng-include="subTemplate"></div>
    </div>
</div>