<div class="container">
    <div class="row">
        <div class="col-md-9">
            <p>O SkiErg Concept2 faz com que o esporte de esqui nórdico seja disponível para todos.  Ele melhora a força e resistência do corpo todo com o movimento da propulsão integral para todas as técnicas de esqui nórdico.  Cada puxada trabalha os braços, ombros, abdome e pernas no movimento de “compressão” para baixo, usando o peso do corpo para acelerar os puxadores.  As pernas, então, aumentam o peso do corpo na volta, proporcionando um trabalho para o corpo todo.</p>
            <p>O SkiErg usa o mesmo sistema de resistência com ar no flywheel e sistema eletrônico de monitoração que o nosso Remo Indoor, a máquina de remo mais escolhida pelos atletas de remo do mundo desde 1981.   Então você pode ter certeza que essa máquina foi feita para durar.  Além de ser durável e bem-construído, o SkiErg é bastante sofisticado também, com um monitor que providencia dados de desempenho imediatos e precisos.</p>
            <p>Pelo seu potente trabalho de empunhadura e puxada versátil, o SkiErg hoje é muito usado em academias de luta, especialmente de MMA.  Os movimentos podem replicar as puxadas de uma luta e ajudar com a força e a resistência para uma luta mais extraordinária.</p>
            <p>Seja você um esquiador de elite ou entusiasta, um lutador profissional ou aluno de luta, ou apenas alguém procurando uma boa malhação, o SkiErg lhe ajudará atingir suas metas.</p>
        </div>
    </div>
</div>