<div class="container">
    <div class="row">
        <div class="col-md-10">
            <h3><strong>Big Blade</strong></h3>
             <p>&nbsp;</p>
            <p>Com sua introdução feita em 1991, o Big Blade é o verdadeiro “machado de guerra”. Feita a partir do mesmo molde da pá Macon, seu desenho assimétrico e sua área de superfície aumentam e criam uma pá maior. Ele está disponível em dois tamanhos, os mais pedidos são os com borda simples.</p>
            <p>&nbsp;</p>
            <h4><strong>Perfil de Carga:</strong></h4>
            <p>Perfil de carga refere-se a carga em relação às diferentes fases de como a pá progride através do contato com a água</p>
            <p>A Big Blade oferece a carga mais consistente, através das quatro fases da remada.</p>
            <p>&nbsp;</p>
            <h4><strong>Perfil de carga da Big Blade:</strong></h4>
            <p><i class="fa fa-check">Entrada distinta na água</i></p>
            <p><i class="fa fa-check">Carga leve no primeiro 1/3 da remada</i></p>
            <p><i class="fa fa-check">Carga pesada por último 1/3 da remada</i></p>
            <p><i class="fa fa-check">Eixo suave</i></p>
            <p><i class="fa fa-check">O perfil desta grande pá é menos eficaz nas duas primeiras fases da remada, e mais eficaz nas fases posteriores.</i></p>
            <p><i class="fa fa-check">Com seu comprimento maior do que as demais pás, a Big Blade oferece uma maior alavancagem quando o remo se aproxima da perpendicular.</i></p>
             <p>&nbsp;</p>
            <h4><strong>Como o Smoothie2 impulsiona o barco:</strong></h4>
            <p><i class="fa fa-check">Cria um aspirador que retêm a água, que é característica de uma pá grande</i></p>
            <p><i class="fa fa-check">Oferece um Perfil de Carga intermediário que é mais eficiente do que a pá grande</i></p>
            <p><i class="fa fa-check">A combinação de mais gancho e comprimento maior do que as pás laterais, oferece uma maior alavancagem como os movimentos de remo através da perpendicular.</i></p>
            <p>&nbsp;</p>
            <h4><strong>Dimensões e Área de Superfície:</strong></h4>
             <p>&nbsp;</p>
            <table class="table table-striped tabela">
                <tr>
                    <td></td>
                    <td>Palamente Simples(25x55)</td>
                    <td>Palamente Simples(25x55)</td>
                    <td>Palamenta Dupla</td>
                </tr>
                <tr>
                    <td><strong>Superfície</strong></td>
                    <td>1196 cm²</td>
                    <td>1109 cm²</td>
                    <td>780 cm²</td>
                </tr>
                <tr>
                    <td><strong>Comprimento do remo</strong></td>
                    <td>55,5 cm</td>
                    <td>52 cm</td>
                    <td>44 cm</td>
                </tr>
                <tr>
                    <td><strong>Largura do bico</strong></td>
                    <td>25 cm</td>
                    <td>25 cm</td>
                    <td>21,5 cm</td>
                </tr>
                <tr>
                    <td><strong>Largura no ponto mais amplo</strong></td>
                    <td>25 cm</td>
                    <td>25 cm</td>
                    <td>21,5 cm</td>
                </tr>
            </table>
            <p>&nbsp;</p>
            <h4><strong>Características desta Pá:</strong></h4>
            <p><i class="fa fa-check">Espinha no centro</i></p>
            <p><i class="fa fa-check">Gancho</i></p>
            <p><i class="fa fa-check">Maior superfície na ponta</i></p>
            <p><i class="fa fa-check">Borda lisa</i></p>
            <p>&nbsp;</p>
             <div class="col-md-10">
            <h5><strong>Palameta Simples:</strong></h5>

            <p>&nbsp;</p>

            <div class="col-md-4 palameta">
                <img src="static/img/produtos/remos/bb55swp_bladeBLU_wL.jpg"/>
            </div>
            <div class="col-md-4  palameta">
                <img src="static/img/produtos/remos/bb55swp_curveBLU_wL.jpg"/>
            </div>
            <div class="col-md-4  palameta">
                <img src="static/img/produtos/remos/bb55swp_scoopBLU_wL.jpg"/>
            </div>
            <p>&nbsp;</p>
            </div>
            <div class="col-md-10">
            <h5><strong>Palameta Dupla:</strong></h5>

            <p>&nbsp;</p>

            <div class="col-md-4 palameta">
                <img src="static/img/produtos/remos/BBScl_bladeBLU_wL.jpg">
            </div>
            <div class="col-md-4  palameta">
                <img src="static/img/produtos/remos/BBScl_curveBLU_wL.jpg"/>
            </div>
            <div class="col-md-4  palameta">
                <img src="static/img/produtos/remos/BBScl_scoopBLU_wL.jpg"/>
            </div>
             </div>

        </div>
    </div>
</div>