<div class="container">
    <div class="row caixa-texto">
        <div class="col-md-10">
            <h3>Kit de Frequência Cardíaca</h3>

            <p>&nbsp;</p>

            <p>Pegar fotos em: <a href="http://www.concept2.com/indoor-rowers/accessories/heart-rate-equipment">http://www.concept2.com/indoor-rowers/accessories/heart-rate-equipment</a></p>

            <p>&nbsp;</p>

            <p>Sobre o monitor de frequência cardíaca</p>

            <p>Os monitores de performance da Concept2 são projetados para receber e exibir dados de frequência cardíaca. Não é necessário comprar um relógio separado (listado em equipamentos opcionais na tabela abaixo) se você simplesmente deseja ver o sua frequência cardíaca no monitor de performance (PM). O PM irá exibir suas informações de frequência cardíaca – em outras palavras, ele vai agir como um relógio que monitora a frequência cardíaca enquanto você estiver usando uma cinta peitoral
                compatível, e, se estiver usando uma faixa peitoral da Polar, existe a opção de comprar o sensor e transmissor de frequência cardíaca da Concept2.</p>

            <p>Se você gostaria de acompanhar o sua frequência cardíaca durante outras atividades então terá que comprar um relógio para exibir a sua frequência cardíaca.</p>

            <p>A Concept2 vende equipamentos de frequência cardíaca da Polar e Garmin. Consulte a tabela abaixo para obter informações sobre compatibilidade.</p>

            <p>Nota: Os produtos da Polar W.I.N.D. não são compatíveis com os monitores de performance da Concept2. *Other ANT-based heart rate systems are compatible with the PM4.</p>

            <p>&nbsp;</p>


            <div class="col-md-9">
                <table class="table table-bordered" cellspacing="1" cellpadding="1" border="1" style="width: 100%;margin-left: 80px;">
                    <tbody>
                    <tr>
                        <td align="center">Sistema HR</td>
                        <td align="center">Funciona com…</td>
                        <td align="center">Equipamento adicional necessário</td>
                        <td align="center">Equipamento opcional</td>
                    </tr>
                    <tr>
                        <td align="center">Polar</td>
                        <td align="center">PM2/PM2+, PM3 ou PM4</td>
                        <td align="center">Uma faixa peitoral com transmissor. O sensor e cabo de frequência cardíaca da Concept2.</td>
                        <td align="center">Polar FT40 monitor de frequência cardíaca (relógio)</td>
                    </tr>
                    <tr>
                        <td align="center">Garmin*</td>
                        <td align="center">PM4 apenas</td>
                        <td align="center">Uma faixa peitoral com transmissor (incluso na compra do PM4)</td>
                        <td>Garmin monitor de frequência cardíaca (relógio): Forerunner 210 FR70 masculino FR70 feminino</td>
                    </tr>
                    <tr>
                        <td colspan="4" align="center">Nota: Os produtod da Polar W.I.N.D não são compatíveis com os monitores de performance da concept2. *Other ANT-based heart rate systems are compatible with the PM4</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-md-10">
                <img style="width: 40%;" src="static/img/produtos/heartrate-cables-1862.jpg"/>
                <h4>Sensor e cabo de frequência cardíaca da Concept2</h4>

                <p>Para uso com o sistema de frequência cardíaca Polar, o receptor de frequência cardíaca Concept2 e fichas dos cabos em sua PM e transmite a sua frequência cardíaca para ele. Este é um produto Concept2 e só é vendido por Concept2.</p>

                <p>Melhor opção se:</p>

                <p><i class="fa fa-check">Você tem um PM2, PM2+ ou PM3 ou quiser usar equipamento da Polar com o PM4;</i></p>
                <p><i class="fa fa-check">Você já possui uma faixa peitoral da Polar (sem que seja W.I.N.D);</i></p>
                <p><i class="fa fa-check">Você não planeja monitorar sua frequência cardíaca durante outras atividades.</i></p>
                <p>&nbsp;</p>
                <p>Números de peça:</p>
                <p><i class="fa fa-check">1862 para utilização com o sistema dos remoergômetros A, B, C, D ou E;</i></p>
                <p><i class="fa fa-check">2742 para utilização com SkiErgs;</i></p>
                <p><i class="fa fa-check">2758 para uso com o remoergômetro Dynamic.</i></p>
                <p>PN 1862 PN2742 PN2758</p>
                <p>&nbsp;</p>
                 <h4>Sensor e cabo de frequência cardíaca da Concept2</h4>
                <p>Esse kit inclui uma cinta Polar e o receptor da frequência cardíaca e cabo da Concept2 (descrito acima).</p>
                <p>Melhor opção se:</p>
                <p><i class="fa fa-check">Você tem um PM2, PM2 ou PM3 Retrofit;</i></p>
                <p><i class="fa fa-check">Você não possui uma faixa peitoral Polar;</i></p>
                <p><i class="fa fa-check">Você não planeja monitorar sua frequência cardíaca durante outras atividades.</i></p>
                <p>&nbsp;</p>
                <p>Números de peça:</p>
                <p><i class="fa fa-check">1747 para utilização com o sistema dos remoergômetros A, B, C, D ou E;</i></p>
                <p><i class="fa fa-check">2743 para utilização com SkiErgs;</i></p>
                <p><i class="fa fa-check">2863 para uso com o remoergômetro Dynamic.</i></p>
                <p>PN 1747 PN2743 PN 2863</p>
                <p>&nbsp;</p>
                <h4>Sensor de frequência cardíaca Polar + relógio FT40</h4>
                <p>Este kit inclui um cinto de peito Polar e a Polar FT40 monitor de frequência cardíaca.</p>
                <p>Melhor opção se:</p>
                 <p><i class="fa fa-check">Você quer controlar o seu ritmo cardíaco durante outras atividades só *;</i></p>
                 <p><i class="fa fa-check">Você é sério sobre como alcançar o próximo nível de aptidão;</i></p>
                 <p><i class="fa fa-check">Se você tem um PM2, PM2 ou PM3 + e querem também controlar a frequência cardíaca durante o uso do remador interior ou SkiErg, você vai precisar adicionar o receptor Concept2 e cabo (descrito acima) para o seu fim.</i></p>
                <p>&nbsp;</p>
                <p>Números de peça:</p>
                <p><i class="fa fa-check">2488</i></p>
                <p><i class="fa fa-check">Opcionalmente, adicione 1862 (para uso com remoergômetros) ou 2742 (para uso com SkiErgs)</i></p>
                <p>PN 2488 Polar FT40 relógio de monitoração cardíaca</p>
                <p>&nbsp;</p>
                <h4>Cinta peitoral da Garmin</h4>
                <p>Esta é a cinta peitoral que incluímos a cada compra de PM4. Não é necessário comprar este item, a menos se você precisar de uma cinta peitoral adicional.</p>
                <p>Melhor opção se:</p>
                 <p><i class="fa fa-check">Você tem um PM4;</i></p>
                 <p><i class="fa fa-check">Você não planeja monitorar sua frequência cardíaca durante outras atividades;</i></p>
                 <p><i class="fa fa-check">Você quer uma cinta peitoral adicional.</i></p>
                <p>Número da peça: 379</p>
                <p>PN 379 Cinta peitoral da Garmin</p>
                <p>&nbsp;</p>
                <h4>Garmin Forerunner 210</h4>
                <p>Este kit inclui uma cinta peitoral da Garmin Forerunner e o relógio de monitoramento cardíaco 210</p>
                <p>Melhor opção se:</p>
                 <p><i class="fa fa-check">Você tem um PM4;</i></p>
                 <p><i class="fa fa-check">Você quer controlar o seu ritmo cardíaco durante outras atividades, bem como ao usar o remador interior ou SkiErg.</i></p>
                <p>Número da peça:  2413</p>
                <p>PN 2413 Garmin Forerunner 210</p>
                <p>&nbsp;</p>
                <h4>Garmin FR70</h4>
                <p>Este kit inclui um cinto de peito Garmin e o relógio FR70 Garmin.</p>
                <p>Melhor opção se:</p>
                 <p><i class="fa fa-check">Você tem um PM4;</i></p>
                 <p><i class="fa fa-check">Você quer controlar o seu ritmo cardíaco durante outras atividades, bem como ao usar o remador interior ou SkiErg</i></p>
                 <p><i class="fa fa-check">Você está procurando uma opção mais acessível</i></p>
                <p>Número da peça:</p>
                <p>2411 dos homens (azul)</p>
                <p>2412 das mulheres (rosa) PN 2411 Masculino (cima) PN 2412 Feminino (baixo)</p>
                <p>&nbsp;</p>
            </div>


        </div>
    </div>
</div>