<div class="container">
    <div class="row conteudo-evento">

        <div class="col-md-9 borda-eventos destaque">
            <img ng-src="/static/img/eventos/{{evento.imagemDestaque}}">
        </div>
        <div class="col-md-3 borda-eventos resumo-evento">
            <h4>{{evento.titulo}}</h4>
            <img ng-src="/static/img/eventos/{{evento.imagemLogo}}"/>
            <div class="data-evento" ng-bind-html="trataHtml(evento.duracao)"></div>
            <p>{{evento.subtitulo}}</p>
            <button type="button" class="btn btn-default inscreva"><a href="#/eventos/{{slug}}/inscricao">Inscreva-se!</a></button>
        </div>
        <div class="col-md-9 borda-eventos sub-menu">
            <ul class="nav nav-pills">
              <li role="presentation" ng-repeat="item in itensMenu" ng-class="{'active': itemMenu == item.slug}"><a href="#/eventos/{{slug}}/{{item.slug}}">{{item.nome}}</a></li>
            </ul>
        </div>

        <div class="col-md-9 borda-eventos">
            <div ng-include="template" class="conteudo-interno"></div>
        </div>
        <div class="col-md-3 borda-eventos">
            <img ng-src="/static/img/eventos/{{evento.imagemPropaganda}}"/>
        </div>
    </div>
</div>
