<div class="inscricao">
    <div class="row instrucoes">
        <div class="col-md-12">
            <h3 class="text-center">Inscrição {{evento.titulo}}<span ng-if="atletaLogado"> para {{atleta.nome}}</span></h3>

            <div ng-if="atletaLogado">
                <p>Aqui, você pode adicionar o número do pedido, efetuado na loja, à sua inscrição ou alterar os dados e provas que deseja participar.</p>

                <p>Caso ainda não tenha feito, você deverá ir à <a href="{{urlLojaInscricao}}" target="_blank">loja da concept2</a> para realizar o pagamento da taxa de inscrição.</p>
                <!--Para alterar seus dados pessoais, vá em <a href="/#/meu-perfil">meu perfil</a>.-->
            </div>
            <div ng-if="!atletaLogado">
                <p>Caso já tenha feito alguma inscrição antes em nosso site, faça o <a href="/#/login">login</a> para recuperamos os seus dados de atleta.</p>

                <p>Após finalizar o seu cadastro, você deverá ir à <a href="{{urlLojaInscricao}}" target="_blank">loja da concept2</a> para realizar o pagamento da taxa de inscrição.</p>

                <p>Depois de concluída a compra na loja, você receberá o número do pedido efetuado. Adicione esse número do pedido à sua inscrição nessa página no campo Número do Pedido ns Dados da inscrição.</p>

                <p>Se você já efetuou o pagamento e já tem um número de pedido, já pode adiciona-lo e ignorar a mensagem de ir até a loja.</p>

                <p>Com o número do pedido adicionado, nós poderemos confirmar o pagamento mas, para o dia da prova, leve o comprovante de pagamento para eventuais problemas.</p>

                <p>Depois da inscrição realizada, você pode voltar nesse página a qualquer momento para adicionar ou remover provas e editar as informações da sua Inscrição ao {{evento.titulo}}</p>
            </div>
        </div>
    </div>
    <form novalidate name="formInscricao" class="form-inscricao" role="form" ng-submit="enviandoInscricao(formInscricao)">
        <h3 class="text-center">Formulário de Inscrição</h3>
        <fieldset ng-if="!atletaLogado">
            <legend>Dados Pessoais</legend>
            <div class="row">
                <div class="col-md-5 campo">
                    <div class="form-group has-feedback formInput" ng-class="{'has-success': campoEstaValido(formInscricao.nome), 'has-error': campoEstaInvalido(formInscricao.nome)}">
                        <label class="control-label" for="nome">Primeiro Nome: <i class="fa fa-asterisk"></i></label>
                        <input type="text" class="form-control" id="nome" name="nome" ng-model="atleta.nome" aria-describedby="helpNome" required/>
                        <span class="fa form-control-feedback" aria-hidden="true" ng-class="{'fa-check': campoEstaValido(formInscricao.nome), 'fa-close': campoEstaInvalido(formInscricao.nome)} "></span>
                        <span id="helpNome" class="help-block" ng-show="campoEstaInvalido(formInscricao.nome)">* o campo é obrigatório *</span>
                    </div>
                </div>
                <div class="col-md-5 campo">
                    <div class="form-group has-feedback formInput" ng-class="{'has-success': campoEstaValido(formInscricao.sobrenome), 'has-error': campoEstaInvalido(formInscricao.sobrenome)}">
                        <label class="control-label" for="sobrenome">Sobrenome: <i class="fa fa-asterisk"></i></label>
                        <input type="text" class="form-control" id="sobrenome" name="sobrenome" ng-model="atleta.sobrenome" aria-describedby="helpSobrenome" required/>
                        <span class="fa form-control-feedback" aria-hidden="true" ng-class="{'fa-check': campoEstaValido(formInscricao.sobrenome), 'fa-close': campoEstaInvalido(formInscricao.sobrenome)} "></span>
                        <span id="helpSobrenome" class="help-block" ng-show="campoEstaInvalido(formInscricao.sobrenome)">* O campo é obrigatório *</span>
                    </div>
                </div>
                <div class="col-md-2 campo sexo">
                    <div class="form-group">
                        <label>Sexo:</label>

                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-primary" ng-click="defineSexo('MA')">
                                <input type="radio" name="sexo" id="sexoM" ng-model="atleta.sexo" autocomplete="off"/>
                                M
                            </label>
                            <label class="btn btn-primary" ng-click="defineSexo('FE')">
                                <input type="radio" name="sexo" id="sexoF" ng-model="atleta.sexo" autocomplete="off">
                                F
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 campo formulario-data">
                    <div class="form-group has-feedback formInput" ng-class="{'has-success': campoEstaValido(formInscricao.nascimento), 'has-error': campoEstaInvalido(formInscricao.nascimento)}">
                        <label class="control-label" for="nascimento">Data de Nascimento <i class="fa fa-asterisk"></i></label>
                        <input data-format="dd/MM/yyyy" data-type="" class="form-control" name="nascimento" id="nascimento" ui-mask="D9/M9/9999" ng-model="atleta.nascimento" aria-describedby="helpData" required nascimento-correto ui-options="maskDef"/>
                        <span class="fa form-control-feedback" aria-hidden="true" ng-class="{'fa-check': campoEstaValido(formInscricao.nascimento), 'fa-close': campoEstaInvalido(formInscricao.nascimento)} "></span>
                        <span id="helpData" class="help-block" ng-show="campoEstaInvalido(formInscricao.nascimento)">* A idade deve ser entre 9 e 100 *</span>
                    </div>
                </div>
                <div class="col-md-3 campo">
                    <div class="form-group has-feedback formInput" ng-class="{'has-success': campoEstaValido(formInscricao.cpf), 'has-error': campoEstaInvalido(formInscricao.cpf)}">
                        <label class="control-label" for="cpf">CPF: <i class="fa fa-asterisk"></i></label>
                        <input type="text" class="form-control" id="cpf" name="cpf" ng-model="atleta.cpf" aria-describedby="helpCpf" ui-mask="999.999.999-99" required/>
                        <span class="fa form-control-feedback" aria-hidden="true" ng-class="{'fa-check': campoEstaValido(formInscricao.cpf), 'fa-close': campoEstaInvalido(formInscricao.cpf)} "></span>
                        <span id="helpCpf" class="help-block" ng-show="campoEstaInvalido(formInscricao.cpf)">* O CPF deve ser válido *</span>
                    </div>
                </div>
                <div class="col-md-3 campo">
                    <div class="form-group">
                        <label class="control-label" for="telefone">Telefone:</label>
                        <input type="text" class="form-control" name="telefone" id="telefone" ui-mask="(99) 9999-9999" no-required ng-model="atleta.telefone"/>
                    </div>
                </div>
                <div class="col-md-3 campo">
                    <div class="form-group">
                        <div class="form-group has-feedback formInput" ng-class="{'has-success': campoEstaValido(formInscricao.celular), 'has-error': campoEstaInvalido(formInscricao.celular)}">
                            <label class="control-label" for="celular">Celular: <i class="fa fa-asterisk"></i></label>
                            <input type="text" class="form-control" name="celular" id="celular" ui-mask="(99) 99999-9999" ng-model="atleta.celular" aria-describedby="helpCelular" required/>
                            <span class="fa form-control-feedback" aria-hidden="true" ng-class="{'fa-check': campoEstaValido(formInscricao.celular), 'fa-close': campoEstaInvalido(formInscricao.celular)}"></span>
                            <span id="helpCelular" class="help-block" ng-show="campoEstaInvalido(formInscricao.celular)">* O celular deve ser válido *</span>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset ng-if="!atletaLogado">
            <legend>Dados de login</legend>
            <div class="row">
                <div class="col-md-4 campo">
                    <div class="form-group has-feedback formInput" ng-class="{'has-success': campoEstaValido(formInscricao.email), 'has-error': campoEstaInvalido(formInscricao.email)}">
                        <label class="control-label" for="email">E-mail: <i class="fa fa-asterisk"></i></label>
                        <input type="email" class="form-control" name="email" id="email" ng-model="atleta.email" aria-describedby="helpEmail" required email-nao-usado />
                        <span class="fa form-control-feedback" aria-hidden="true" ng-class="{'fa-check': campoEstaValido(formInscricao.email), 'fa-close': campoEstaInvalido(formInscricao.email)} "></span>
                        <span id="helpEmail" class="help-block" ng-show="campoEstaInvalido(formInscricao.email)">* Digite um e-mail válido *</span>
                    </div>
                </div>
                <div class="col-md-4 campo">
                    <div class="form-group has-feedback formInput" ng-class="{'has-success': campoEstaValido(formInscricao.senha), 'has-error': campoEstaInvalido(formInscricao.senha)}">
                        <label class="control-label" for="senha">Senha: <i class="fa fa-asterisk"></i></label>
                        <input type="password" class="form-control" name="senha" id="senha" ng-model="atleta.senha" aria-describedby="helpSenha" required minlength="8"/>
                        <span class="fa form-control-feedback" aria-hidden="true" ng-class="{'fa-check': campoEstaValido(formInscricao.senha), 'fa-close': campoEstaInvalido(formInscricao.senha)} "></span>
                        <span id="helpSenha" class="help-block" ng-show="campoEstaInvalido(formInscricao.senha)">* Senha deve contar mínimo de 8 caracteres *</span>
                    </div>
                </div>
                <div class="col-md-4 campo">
                    <div class="form-group has-feedback formInput" ng-class="{'has-success': campoEstaValido(formInscricao.confirmeSenha), 'has-error': campoEstaInvalido(formInscricao.confirmeSenha)}">
                        <label class="control-label" for="confirmeSenha">Confirme a senha: <i class="fa fa-asterisk"></i></label>
                        <input type="password" class="form-control" name="confirmeSenha" id="confirmeSenha" ng-model="atleta.confirmeSenha" aria-describedby="helpConfirmeSenha" required igual-senha/>
                        <span class="fa form-control-feedback" aria-hidden="true" ng-class="{'fa-check': campoEstaValido(formInscricao.confirmeSenha), 'fa-close': campoEstaInvalido(formInscricao.confirmeSenha)} "></span>
                        <span id="helpConfirmeSenha" class="help-block" ng-show="campoEstaInvalido(formInscricao.confirmeSenha)">* A confirmação não é igual à senha *</span>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Dados da inscrição</legend>
            <div class="row">
                <div class="col-md-3 campo">
                    <div class="form-group">
                        <label class="control-label" for="pedidoNumero">Número do pedido:</label>
                        <input type="text" class="form-control" name="pedidoNumero" id="pedidoNumero" ng-model="atleta.inscricao.pedidoNumero"/>
                    </div>
                </div>
                <div class="col-md-3 campo">
                    <div class="form-group">
                        <label class="control-label" for="nomeTime">Apelido ou Nome do Time:</label>
                        <input type="text" class="form-control" name="nomeTime" id="nomeTime" ng-model="atleta.inscricao.nomeTime"/>
                    </div>
                </div>
                <div class="col-md-6 campo tipo-filiacao">
                    <div class="form-group">
                        <label class="control-label" for="afiliacao">Afiliação:</label>

                        <div class="input-group">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{exibeLabelTipoAfiliacao(atleta.inscricao.tipoAfiliacao)}} <span class="caret"></span></button>
                                <ul class="dropdown-menu tipo-afiliacoes">
                                    <li ng-repeat="tipoAfiliacao in tiposAfiliacoes"><a ng-click="selecionaTipoAfiliacao(tipoAfiliacao)">{{tipoAfiliacao.label}}</a></li>
                                </ul>
                            </div>
                            <input type="text" class="form-control" name="afiliacao" id="afiliacao" placeholder="Nome da afiliação" ng-model="atleta.inscricao.afiliacao" aria-label="..."/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row prova">
                <div class="col-md-12 campo">
                    <div class="form-group has-feedback" ng-class="{'has-success': campoEstaValido(formInscricao.provas), 'has-error': campoEstaInvalido(formInscricao.provas)}">
                        <label class="control-label" for="provas">Provas selecionadas: <i class="fa fa-asterisk"></i></label>
                        <ul class="provas-selecionadas" id="provas" ng-class="{'has-success': campoEstaValido(formInscricao.provas), 'has-error': campoEstaInvalido(formInscricao.provas)}">
                            <li ng-repeat="provaSelecionada in atleta.inscricao.provas" ng-init="prova = obterProva(provaSelecionada)">
                                <span role="presentation" ng-click="removeProva(prova.id)">×</span>
                                {{prova.dia}} {{prova.hora}} - {{prova.label}} - {{prova.subCategoria}}
                            </li>
                        </ul>
                        <input type="hidden" name="provas" ng-model="atleta.provaSelecionada" required/>
                        <span class="fa form-control-feedback" aria-hidden="true" ng-class="{'fa-check': campoEstaValido(formInscricao.provas), 'fa-close': campoEstaInvalido(formInscricao.provas)}"></span>
                        <span class="help-block" ng-show="campoEstaInvalido(formInscricao.provas)">* Selecione uma ou mais provas *</span>
                    </div>
                </div>
            </div>
            <div class="row prova">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label" for="afiliacao">Provas na competição:</label>

                        <div class="table-responsive tabela-provas">
                            <table class="table table-striped table-hover">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>Dia</th>
                                    <th>Horário</th>
                                    <th>Prova</th>
                                    <th>Categoria</th>
                                    <th>Observação</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="prova in provasDropdownList" ng-class="{'success': prova.selecionada}">
                                    <td><input type="checkbox" name="provas[]" ng-model="prova.selecionada" value="{{prova}}" ng-click="clicaNaProva(prova.selecionada, prova)"/></td>
                                    <td>{{prova.dia}}</td>
                                    <td>{{prova.hora}}</td>
                                    <td>{{prova.label}}</td>
                                    <td>{{prova.subCategoria}}</td>
                                    <td>{{prova.observacao}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="row">
            <div class="col-md-12 botoes">
                <button type="submit" class="btn" ng-class="{'btn-disabled': formInscricao.$invalid, 'btn-success': formInscricao.$valid}">Inscrever-se</button>
                <button type="button" class="btn btn-warning" ng-click="reset(formInscricao)">Limpar</button>
            </div>
        </div>
    </form>
</div>
<div class="modal fade" id="modalSucesso" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title has-success">Gravada com sucesso!</h4>
            </div>
            <div class="modal-body">
                <p><strong>Sua inscrição foi gravada com sucesso.</strong></p>
                <p>Caso ainda não tenha feito o pagamento da inscrição, clique no botão abaixo para abrir a página da loja e efetuar o pagamento.</p>
                <p><strong>Boa sorte na competição!</strong></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-success" ng-click="redirecionaPagamento(true)">Efetuar o pagamento</button>
            </div>
        </div>
    </div>
</div><div class="modal fade" id="modalErro" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title has-error">Erro na Inscrição!</h4>
            </div>
            <div class="modal-body">
                <p><strong>Sua inscrição não foi realizada.</strong></p>
                <p>Verifique os erros e tente de novo:</p>
                <p class="btn-danger" ng-bind="mensagemErro"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>