<div class="inscricao">
    <div class="row instrucoes">
        <div class="col-md-12">
            <h3 class="text-center">Inscrição para Provas no {{evento.titulo}}<span ng-if="atletaLogado"> para {{atleta.nome}}</span></h3>

            <div ng-if="atletaLogado">
                <p>Aqui, você pode adicionar o número do pedido, efetuado na loja, à sua inscrição ou alterar os dados e provas que deseja participar.</p>

                <p>Caso ainda não tenha feito, você deverá ir à <a href="{{urlPagamentoProvas}}" target="_blank">loja da concept2</a> para realizar o pagamento da taxa de inscrição.</p>
                <!--Para alterar seus dados pessoais, vá em <a href="/#/meu-perfil">meu perfil</a>.-->
            </div>
            <div ng-if="!atletaLogado">
                <p>Caso já tenha feito alguma inscrição antes em nosso site, faça o <a href="/#/atleta/login">login</a> para recuperamos os seus dados de atleta.</p>

                <p>Após finalizar o seu cadastro, você deverá ir à <a href="{{urlPagamentoProvas}}" target="_blank">loja da concept2</a> para realizar o pagamento da taxa de inscrição.</p>

                <p>Depois de concluída a compra na loja, você receberá o número do pedido efetuado. Adicione esse número do pedido à sua inscrição nessa página no campo Número do Pedido ns Dados da inscrição.</p>

                <p>Se você já efetuou o pagamento e já tem um número de pedido, já pode adiciona-lo e ignorar a mensagem de ir até a loja.</p>

                <p>Com o número do pedido adicionado, nós poderemos confirmar o pagamento mas, para o dia da prova, leve o comprovante de pagamento para eventuais problemas.</p>

                <p>Depois da inscrição realizada, você pode voltar nesse página a qualquer momento para adicionar ou remover provas e editar as informações da sua Inscrição às Provas do {{evento.titulo}}</p>
            </div>
        </div>
    </div>
    <form ng-if="false" novalidate name="formInscricaoProvas" class="form-inscricao" role="form" ng-submit="enviandoInscricao(formInscricaoProvas)">
        <h3 class="text-center">Formulário de Inscrição para as Provas</h3>
        <fieldset ng-if="!atletaLogado">
            <legend>Dados Pessoais</legend>
            <div class="row">
                <div class="col-md-5 campo">
                    <div class="form-group has-feedback formInput" ng-class="{'has-success': campoEstaValido(formInscricaoProvas.nome), 'has-error': campoEstaInvalido(formInscricaoProvas.nome)}">
                        <label class="control-label" for="nome">Primeiro Nome: <i class="fa fa-asterisk"></i></label>
                        <input type="text" class="form-control" id="nome" name="nome" ng-model="atleta.nome" aria-describedby="helpNome" required/>
                        <span class="fa form-control-feedback" aria-hidden="true" ng-class="{'fa-check': campoEstaValido(formInscricaoProvas.nome), 'fa-close': campoEstaInvalido(formInscricaoProvas.nome)} "></span>
                        <span id="helpNome" class="help-block" ng-show="campoEstaInvalido(formInscricaoProvas.nome)">* o campo é obrigatório *</span>
                    </div>
                </div>
                <div class="col-md-5 campo">
                    <div class="form-group has-feedback formInput" ng-class="{'has-success': campoEstaValido(formInscricaoProvas.sobrenome), 'has-error': campoEstaInvalido(formInscricaoProvas.sobrenome)}">
                        <label class="control-label" for="sobrenome">Sobrenome: <i class="fa fa-asterisk"></i></label>
                        <input type="text" class="form-control" id="sobrenome" name="sobrenome" ng-model="atleta.sobrenome" aria-describedby="helpSobrenome" required/>
                        <span class="fa form-control-feedback" aria-hidden="true" ng-class="{'fa-check': campoEstaValido(formInscricaoProvas.sobrenome), 'fa-close': campoEstaInvalido(formInscricaoProvas.sobrenome)} "></span>
                        <span id="helpSobrenome" class="help-block" ng-show="campoEstaInvalido(formInscricaoProvas.sobrenome)">* O campo é obrigatório *</span>
                    </div>
                </div>
                <div class="col-md-2 campo sexo">
                    <div class="form-group">
                        <label>Sexo:</label>

                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-primary" ng-click="defineSexo('MA')">
                                <input type="radio" name="sexo" id="sexoM" ng-model="atleta.sexo" autocomplete="off"/>
                                M
                            </label>
                            <label class="btn btn-primary" ng-click="defineSexo('FE')">
                                <input type="radio" name="sexo" id="sexoF" ng-model="atleta.sexo" autocomplete="off">
                                F
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 campo formulario-data">
                    <div class="form-group has-feedback formInput" ng-class="{'has-success': campoEstaValido(formInscricaoProvas.nascimento), 'has-error': campoEstaInvalido(formInscricaoProvas.nascimento)}">
                        <label class="control-label" for="nascimento">Data de Nascimento <i class="fa fa-asterisk"></i></label>
                        <input data-format="dd/MM/yyyy" data-type="" class="form-control" name="nascimento" id="nascimento" ui-mask="D9/M9/9999" ng-model="atleta.nascimento" aria-describedby="helpData" required nascimento-correto ui-options="maskDef"/>
                        <span class="fa form-control-feedback" aria-hidden="true" ng-class="{'fa-check': campoEstaValido(formInscricaoProvas.nascimento), 'fa-close': campoEstaInvalido(formInscricaoProvas.nascimento)} "></span>
                        <span id="helpData" class="help-block" ng-show="campoEstaInvalido(formInscricaoProvas.nascimento)">* A idade deve ser entre 9 e 100 *</span>
                    </div>
                </div>
                <div class="col-md-3 campo">
                    <div class="form-group has-feedback formInput" ng-class="{'has-success': campoEstaValido(formInscricaoProvas.cpf), 'has-error': campoEstaInvalido(formInscricaoProvas.cpf)}">
                        <label class="control-label" for="cpf">CPF: <i class="fa fa-asterisk"></i></label>
                        <input type="text" class="form-control" id="cpf" name="cpf" ng-model="atleta.cpf" aria-describedby="helpCpf" ui-mask="999.999.999-99" required cpf-valido/>
                        <span class="fa form-control-feedback" aria-hidden="true" ng-class="{'fa-check': campoEstaValido(formInscricaoProvas.cpf), 'fa-close': campoEstaInvalido(formInscricaoProvas.cpf)} "></span>
                        <span id="helpCpf" class="help-block" ng-show="campoEstaInvalido(formInscricaoProvas.cpf)">* O CPF deve ser válido *</span>
                    </div>
                </div>
                <div class="col-md-3 campo">
                    <div class="form-group">
                        <label class="control-label" for="telefone">Telefone:</label>
                        <input type="text" class="form-control" name="telefone" id="telefone" ui-mask="(99) 9999-9999" no-required ng-model="atleta.telefone"/>
                    </div>
                </div>
                <div class="col-md-3 campo">
                    <div class="form-group">
                        <div class="form-group has-feedback formInput" ng-class="{'has-success': campoEstaValido(formInscricaoProvas.celular), 'has-error': campoEstaInvalido(formInscricaoProvas.celular)}">
                            <label class="control-label" for="celular">Celular: <i class="fa fa-asterisk"></i></label>
                            <input type="text" class="form-control" name="celular" id="celular" ui-mask="(99) 99999-9999" ng-model="atleta.celular" aria-describedby="helpCelular" required/>
                            <span class="fa form-control-feedback" aria-hidden="true" ng-class="{'fa-check': campoEstaValido(formInscricaoProvas.celular), 'fa-close': campoEstaInvalido(formInscricaoProvas.celular)}"></span>
                            <span id="helpCelular" class="help-block" ng-show="campoEstaInvalido(formInscricaoProvas.celular)">* O celular deve ser válido *</span>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset ng-if="!atletaLogado">
            <legend>Dados de login</legend>
            <div class="row">
                <div class="col-md-4 campo">
                    <div class="form-group has-feedback formInput" ng-class="{'has-success': campoEstaValido(formInscricaoProvas.email), 'has-error': campoEstaInvalido(formInscricaoProvas.email)}">
                        <label class="control-label" for="email">E-mail: <i class="fa fa-asterisk"></i></label>
                        <input type="email" class="form-control" name="email" id="email" ng-model="atleta.email" aria-describedby="helpEmail" required email-nao-usado />
                        <span class="fa form-control-feedback" aria-hidden="true" ng-class="{'fa-check': campoEstaValido(formInscricaoProvas.email), 'fa-close': campoEstaInvalido(formInscricaoProvas.email)} "></span>
                        <span id="helpEmail" class="help-block" ng-show="campoEstaInvalido(formInscricaoProvas.email)">* Digite um e-mail válido *</span>
                    </div>
                </div>
                <div class="col-md-4 campo">
                    <div class="form-group has-feedback formInput" ng-class="{'has-success': campoEstaValido(formInscricaoProvas.senha), 'has-error': campoEstaInvalido(formInscricaoProvas.senha)}">
                        <label class="control-label" for="senha">Senha: <i class="fa fa-asterisk"></i></label>
                        <input type="password" class="form-control" name="senha" id="senha" ng-model="atleta.senha" aria-describedby="helpSenha" required minlength="8"/>
                        <span class="fa form-control-feedback" aria-hidden="true" ng-class="{'fa-check': campoEstaValido(formInscricaoProvas.senha), 'fa-close': campoEstaInvalido(formInscricaoProvas.senha)} "></span>
                        <span id="helpSenha" class="help-block" ng-show="campoEstaInvalido(formInscricaoProvas.senha)">* Senha deve contar mínimo de 8 caracteres *</span>
                    </div>
                </div>
                <div class="col-md-4 campo">
                    <div class="form-group has-feedback formInput" ng-class="{'has-success': campoEstaValido(formInscricaoProvas.confirmeSenha), 'has-error': campoEstaInvalido(formInscricaoProvas.confirmeSenha)}">
                        <label class="control-label" for="confirmeSenha">Confirme a senha: <i class="fa fa-asterisk"></i></label>
                        <input type="password" class="form-control" name="confirmeSenha" id="confirmeSenha" ng-model="atleta.confirmeSenha" aria-describedby="helpConfirmeSenha" required igual-senha/>
                        <span class="fa form-control-feedback" aria-hidden="true" ng-class="{'fa-check': campoEstaValido(formInscricaoProvas.confirmeSenha), 'fa-close': campoEstaInvalido(formInscricaoProvas.confirmeSenha)} "></span>
                        <span id="helpConfirmeSenha" class="help-block" ng-show="campoEstaInvalido(formInscricaoProvas.confirmeSenha)">* A confirmação não é igual à senha *</span>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Dados da inscrição</legend>
            <div class="row">
                <div class="col-md-3 campo pedido-numero">
                    <div class="form-group">
                        <label class="control-label" for="pedidoNumero">Número do pedido:</label> <button class="botao-icone-ajuda" type="button" id="ajudaPedido" data-toggle="popover" data-trigger="focus" data-placement="top" title="Pedido Número" data-content="Esse é o número do seu pedido após realizar a compra da inscrição na loja on-line. Você pode fazer o cadastro antes e depois atualizar com esse número após o pagamento."><i ng-click="exibeAjuda('#ajudaPedido')" class="fa fa-question-circle ajuda-icone-popover"></i></button>
                        <input type="text" class="form-control" name="pedidoNumero" id="pedidoNumero" ng-model="atleta.inscricao.pedidoNumero" ng-disabled="atleta.inscricao.estahPago"/>
                    </div>
                </div>
                <div class="col-md-3 campo">
                    <div class="form-group">
                        <label class="control-label" for="nomeTime">Apelido ou Nome do Time:</label>
                        <input type="text" class="form-control" name="nomeTime" id="nomeTime" ng-model="atleta.inscricao.nomeTime"/>
                    </div>
                </div>
                <div class="col-md-6 campo tipo-filiacao">
                    <div class="form-group">
                        <label class="control-label" for="afiliacao">Afiliação:</label>

                        <div class="input-group">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{exibeLabelTipoAfiliacao(atleta.inscricao.tipoAfiliacao)}} <span class="caret"></span></button>
                                <ul class="dropdown-menu tipo-afiliacoes">
                                    <li ng-repeat="tipoAfiliacao in tiposAfiliacoes"><a ng-click="selecionaTipoAfiliacao(tipoAfiliacao)">{{tipoAfiliacao.label}}</a></li>
                                </ul>
                            </div>
                            <input type="text" class="form-control" name="afiliacao" id="afiliacao" placeholder="Nome da afiliação" ng-model="atleta.inscricao.afiliacao" aria-label="..."/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 campo convidado">
                    <div class="form-group">
                        <label class="control-label" for="nomeConvidado">Nome do Convidado:</label> <button class="botao-icone-ajuda" type="button" id="ajudaConvidado" data-toggle="popover" data-trigger="focus" data-placement="top" title="Nome do Convidado" data-content="Adicione o nome da pessoa que você quer levar como convidado para o dia da competição."><i ng-click="exibeAjuda('#ajudaConvidado')" class="fa fa-question-circle ajuda-icone-popover"></i></button>
                        <input type="text" class="form-control" name="nomeConvidado" id="nomeConvidado" ng-model="atleta.inscricao.nomeConvidado"/>
                    </div>
                </div>
                <div class="col-md-6 campo convidado" ng-show="atleta.idade && atleta.idade < 18">
                    <div class="form-group">
                        <label class="control-label" for="nomeSegundoConvidado">Nome do Segundo Convidado:</label> <button class="botao-icone-ajuda" type="button" id="ajudaSegundoConvidado" data-toggle="popover" data-trigger="focus" data-placement="top" title="Nome do Segundo Convidado" data-content="Menores de 18 anos têm direito a um segundo convidado para levar no dia da competição."><i ng-click="exibeAjuda('#ajudaSegundoConvidado')" class="fa fa-question-circle ajuda-icone-popover"></i></button>
                        <input type="text" class="form-control" name="nomeSegundoConvidado" id="nomeSegundoConvidado" ng-model="atleta.inscricao.nomeSegundoConvidado"/>
                    </div>
                </div>
            </div>
        </fieldset>
        <!--<fieldset>-->
            <!--<legend>Cadastro em Lote</legend>-->
            <!--div class="row">
                <div class="col-md-4 campo">
                    <div class="form-group">
                        <label class="control-label">Envie o arquivo (tam máx de 3MB):</label>
                        <button class="btn btn-primary" type="file" ngf-select="enviaArquivoEmLote($file, $invalidFiles)" accept="text/*.csv" ngf-max-size="3MB">Escolha o arquivo</button>
                    </div>
                </div>
            </div-->
            <!--<div class="row">-->
                <!--<div class="col-md-12 campo">-->
                    <!--<div class="form-group">-->
                        <!--<label class="control-label">Lista de Atletas:</label>-->
                        <!--<input type="hidden" name="validaEmLote" id="validaEmLote" ng-model="atletasEmLoteValido" required />-->
                        <!--<div class="table-responsive">-->
                            <!--<table class="table table-striped table-hover">-->
                                <!--<thead>-->
                                    <!--<tr>-->
                                        <!--<th>Nome</th>-->
                                        <!--<th>E-mail</th>-->
                                        <!--<th>CPF</th>-->
                                        <!--<th>Nascimento</th>-->
                                        <!--<th>Celular</th>-->
                                        <!--<th>Número Pedido</th>-->
                                    <!--</tr>-->
                                <!--</thead>-->
                                <!--<tbody>-->
                                    <!--<tr ng-repeat="atletaNoLote in atleta.atletas">-->
                                        <!--<td>{{nomeCompleto(atletaNoLote.nome, atletaNoLote.sobrenome)}}</td>-->
                                        <!--<td>{{atletaNoLote.email}}</td>-->
                                        <!--<td>{{formataCPF(atletaNoLote.cpf)}}</td>-->
                                        <!--<td>{{formataData(atletaNoLote.nascimento)}}</td>-->
                                        <!--<td>{{formataTelefone(atletaNoLote.celular)}}</td>-->
                                        <!--<td><input type="text" ng-model="atletaNoLote.numeroPedido"/></td>-->
                                    <!--</tr>-->
                                    <!--<tr class="danger" ng-repeat="atletaNoLote in atletasEmLoteComErro">-->
                                        <!--<td>{{nomeCompleto(atletaNoLote.nome, atletaNoLote.sobrenome)}}</td>-->
                                        <!--<td>{{atletaNoLote.email || 'Sem e-mail'}}</td>-->
                                        <!--<td>{{formataCPF(atletaNoLote.cpf)}}</td>-->
                                        <!--<td>{{formataData(atletaNoLote.nascimento)}}</td>-->
                                        <!--<td>{{formataTelefone(atletaNoLote.celular)}}</td>-->
                                        <!--<td></td>-->
                                    <!--</tr>-->
                                <!--</tbody>-->
                            <!--</table>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</fieldset>-->
        <fieldset>
            <legend>Escolha da(s) prova(s)</legend>
            <div class="row prova">
                <div class="col-md-12 campo">
                    <div class="form-group has-feedback" ng-class="{'has-success': campoEstaValido(formInscricaoProvas.provas), 'has-error': campoEstaInvalido(formInscricaoProvas.provas)}">
                        <label class="control-label" for="provas">Provas selecionadas: <i class="fa fa-asterisk"></i></label>
                        <ul class="provas-selecionadas" id="provas" ng-class="{'has-success': campoEstaValido(formInscricaoProvas.provas), 'has-error': campoEstaInvalido(formInscricaoProvas.provas)}">
                            <li ng-repeat="provaSelecionada in atleta.inscricao.provas" ng-init="prova = obterItem(provaSelecionada, 'provas')">
                                <span role="presentation" ng-click="removeItem(prova.id, 'provas')">×</span>
                                {{prova.dia}} {{prova.hora}} - {{prova.label}} - {{prova.subCategoria.label}}
                            </li>
                        </ul>
                        <input type="hidden" name="provas" ng-model="atleta.provaSelecionada" required/>
                        <span class="fa form-control-feedback" aria-hidden="true" ng-class="{'fa-check': campoEstaValido(formInscricaoProvas.provas), 'fa-close': campoEstaInvalido(formInscricaoProvas.provas)}"></span>
                        <span class="help-block" ng-show="campoEstaInvalido(formInscricaoProvas.provas)">* Selecione uma ou mais provas *</span>
                    </div>
                    <div class="botoes" ng-show="atletaLogado">
                        <a class="btn btn-success" ng-if="!atleta.inscricao.estahPago" href="{{urlPagamentoProvas}}" title="ir para o pagamento" target="_blank">Ir para o pagamento</a>
                        <span class="label label-success" ng-if="atleta.inscricao.estahPago">pagto confirmado</span>
                    </div>
                </div>
            </div>
            <div class="row prova">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label">Provas na competição:</label>
                        <div class="table-responsive tabela-provas">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Dia</th>
                                        <th>Horário</th>
                                        <th>Prova</th>
                                        <th>Categoria</th>
                                        <th>Observação</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="prova in provasDropdownList" ng-class="{'success': prova.selecionado}">
                                        <td><input type="checkbox" name="provas[]" ng-model="prova.selecionado" value="{{prova}}" ng-click="clicaNoItem(prova.selecionado, prova, 'provas')"/></td>
                                        <td>{{prova.dia}}</td>
                                        <td>{{prova.hora}}</td>
                                        <td>{{prova.label}}</td>
                                        <td>{{prova.subCategoria.label}}</td>
                                        <td>{{prova.observacao}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-5">
                <div vc-recaptcha key="'6LdrnhoTAAAAAKDfPoEgTvtmjCV7ny_iCrb1dVzy'" ng-model="atleta.recaptcha"></div>
            </div>
            <div class="col-md-5 botoes">
                <button type="submit" class="btn" ng-class="{'btn-disabled': formInscricaoProvas.$invalid, 'btn-success': formInscricaoProvas.$valid}">Inscrever<span ng-show="!cadastroEmLote">-se</span><span ng-show="cadastroEmLote"> Atletas</span></button>
                <button type="button" class="btn btn-warning" ng-click="reset(formInscricaoProvas)">Limpar</button>
            </div>
        </div>
    </form>
    <div class="carregando" ng-show="estaCarregando" ng-init="carregandoProvas = false"></div>
</div>
<div class="modal fade" id="modalSucesso" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title has-success">Gravada com sucesso!</h4>
            </div>
            <div class="modal-body">
                <p><strong>Sua inscrição foi gravada com sucesso.</strong></p>
                <p>Caso ainda não tenha feito o pagamento da inscrição, clique no botão abaixo para abrir a página da loja e efetuar o pagamento.</p>
                <p><strong>Boa sorte na competição!</strong></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-success" ng-click="redirecionaPagamento(true, 'provas')">Efetuar o pagamento</button>
            </div>
        </div>
    </div>
</div><div class="modal fade" id="modalErro" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title has-error">Erro na Inscrição!</h4>
            </div>
            <div class="modal-body">
                <p><strong>Sua inscrição não foi realizada.</strong></p>
                <p>Verifique os erros e tente de novo:</p>
                <p class="btn-danger" ng-bind="mensagemErro"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>
