<div class="regulamento">
    <h3>Regulamento do {{evento.titulo}}</h3>
    <hr />
    <h4>1. Inscrição</h4>
    <ol>
        <li>Os atletas participantes do CaBra-RI inscritos até quinta-feira, dia 14 de maio, terão a entrada grátis ao evento Arnold Classic Brasil 2015. Após esta data, os participantes terão que comprar o ingresso para a feira. Os ingressos para o Arnold Classic Brasil custam R$ 50 por dia até o dia 28 e R$ 80 por dia a partir do dia 29.</li>
        <li>As inscrições se encerrarão na quinta-feira, dia 28 de maio. Não haverá possibilidade de novas inscrições após esta data.</li>
        <li>As inscrições deverão ser feitas através do site concept2.com.br, no valor de R$ 30 por atleta.</li>
        <li>O valor da inscrição cobre a participação no CaBra-RI e é uma taxa única, independente de provas inscritas.</li>
        <li>Todas as inscrições, com exceção dos revezamentos abertos, deverão ser feitas no site dentro do prazo determinado.</li>
        <li>Uma vez feita a inscrição no CaBra-RI pelo site, será possível realizar uma participação nos revezamentos abertos organizada durante o evento, contanto que essa inscrição seja feita pelo menos uma hora antes da prova.</li>
        <li>Cada atleta deverá se inscrever na divisão “REMO” ou “CROSSFIT”.</li>
    </ol>
    <hr />
    <h4>2. Participação</h4>
    <ol>
        <li>Caso algum atleta queira participar em ambas categorias, só irá valer pontos em uma delas. A categoria que valerá pontos deverá ser destacada na hora da inscrição. Um atleta inscrito em uma divisão poderá competir em qualquer prova mas apenas pontuará para sua equipe na divisão escolhida. Por exemplo, um atleta de Remo poderá competir em uma prova de CrossFit por conta própria, mas seu time não ganhará pontuação pela sua colocação nas provas de CrossFit.</li>
        <li>Não há limite de integrantes por equipe.</li>
        <li>Cada atleta poderá competir quantas vezes quiser, dentro dos seus limites de categoria.</li>
        <li>Os atletas juvenis poderão competir em categorias mais velhas até a categoria ABERTA (de 23 até 26 anos).</li>
        <li>Os atletas da categoria master poderão competir em categorias mais novas até a categoria ABERTA (de 23 até 26 anos).</li>
        <li>Os horários podem ser mudados de acordo com o número de inscrições. É de responsabilidade do atleta de acompanhar os horários.</li>
        <li>Cada participante deverá fazer o check-in para sua prova até 1 hora antes de sua competição. Mas é recomendado chegar pelo menos 2 horas antes.</li>
        <li>É de responsabilidade do atleta trazer uma forma de identificação com foto válida para realizar o check-in.</li>
        <li>A idade considerada para a categoria será a idade do atleta até o dia da competição.</li>
        <li>É necessário que o atleta assine um termo de responsabilidade durante o check-in para participar das competições.</li>
        <li>Os atletas peso-leve terão que se pesar até 1 hora antes de sua prova. A pesagem será feita apenas uma vez por dia. Os atletas peso-leve terão que se pesar até 1 hora antes de sua prova. A pesagem será feita apenas uma vez por dia. Os pesos para a categoria peso-leve será de 75kg para homens e 61kg para mulheres.</li>
        <li>As provas serão disputadas na máquina de Remo Indoor da Concept2, com exceção da prova nomeada SKI, que será disputada no SkiErg Concept2.</li>
        <li>Todas as provas Paralímpicas ou de Remo Adaptado ocorrerão juntas.</li>
    </ol>
    <hr />
    <h4>3. Regras para as provas coletivas:</h4>
    <ol>
        <li>As últimas 3 (três) provas do evento serão abertas para todos e serão as únicas provas abertas para disputa de pontos entre as divisões.</li>
        <li>Os integrantes destas provas podem montar seus times durante o evento, contanto que a inscrição seja entregue em até 1 hora antes de cada prova. Os integrantes deverão já estar inscritos online previamente.</li>
        <li>Há uma possibilidade de inscrições entre integrantes de divisões diferentes, mas no caso de uma equipe de mista esta equipe não ganhará pontos pela colocação.</li>
        <li>Com exceção do Revezamento Master, as provas coletivas são abertas para qualquer idade.</li>
        <li>As provas em duplas (não revezamento) incluirão duas (2) pessoas remando a mesma distância ao mesmo tempo.</li>
        <li>As provas em quadras (não revezamento) incluirão quatro (4) pessoas remando a mesma distância ao mesmo tempo.</li>
        <li>As provas marcadas como mistas terão proporções iguais de homens e mulheres, salvo as provas com nomenclatura específica para a proporção (por exemplo, 3 mulheres e 1 homem).</li>
        <li>As provas de revezamento demarcadas como revezamento aberto necessitam um mínimo de 4 integrantes, e que pelo menos 25% do contingente seja feminino.</li>
        <li>As provas demarcadas como aberto não têm restrição de idade.</li>
        <li>Os participantes dos Revezamentos Abertos e Revezamento Master poderão montar suas equipes até uma hora antes da prova.</li>
        <li>Os integrantes do Revezamento Master precisam se enquadrar na categoria Master por idade (acima de 39 anos).</li>
    </ol>
    <hr />
    <h4>4. Premiação</h4>
    <ol>
        <li>Os vencedores de cada categoria serão os competidores que fizerem o menor tempo pela distância percorrida, e no caso de mais de uma bateria, todos os tempos serão avaliados e comparados para determinar o vencedor.</li>
        <li>Os pontos serão dados às equipes de acordo com a colocação dos participantes nas baterias, seguindo a tabela de pontuação.</li>
        <li>Os pontos serão somados até o final do evento, onde o vencedor do evento será anunciado.</li>
        <li>O ranking será divulgado de acordo com as contas, dentro da velocidade possível, para que os times comparem seus pontos.</li>
        <li>Uma vez feita a inscrição, o participante concorda que seus pontos de colocação irão para seu time como parte da concorrência ao grande prémio coletivo.</li>
        <li>A premiação será anunciada durante o evento, e será distribuída conforme acordado.</li>
        <li>A premiação será feita a critério da organização, à equipe que tiver mais pontos no campeonato.</li>
        <li>A equipe com mais pontos ao final do evento receberá a premiação máxima, a ser divulgada.</li>
        <li>O prazo para a retirada da premiação é de até um mês após o evento, tendo a expiração no dia 1o de Julho de 2015.</li>
    </ol>
    <hr />
    <h4>5. Tabela de Pontos</h4>
    <div class="col-md-2"></div>
    <div class="col-md-8 table-responsive tabela-provas">
        <table class="table table-striped table-hover colocacao">
            <thead>
            <tr>
                <th>Prova</th>
                <th ng-repeat="colocacao in colocacoes" class="colocacao-{{colocacao}}">{{colocacao}}º</th>
            </tr>
            </thead>
            <tbody>
                <tr ng-controller="EventoController" ng-repeat="pontuacao in evento.pontuacao">
                    <td class="posicao">{{pontuacao.nome}}</td>
                    <td ng-repeat="pontuacao in pontuacao.pontuacao" class="pontuacao-{{pontuacao.colocacao}}">{{pontuacao.pontos}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-2"></div>
