<div class="col-md-12">
    <h4><strong>Monitor de performance</strong></h4>

    <p>&nbsp;</p>

    <div class="col-md-8"><p>Cada Modelo E inclui um PM4(hyperlink pra página do PM4)-nosso monitor de performance mais avançado, de modo a obter dados precisos e comparáveis para todas as linhas. O PM4 usa a tecnologia ANT para que você possa acompanhar o sua frequência cardíaca* sem fios extras, contém jogos que não são oferecidos no PM3 e tem espaço para crescer, então você será capaz de usar recursos que não tenham sequer pensado ainda! O braço do monitor maior mantém tudo dentro do alcance
        fácil.</p>

        <p>* A cinta peitoral Garmin sem fio está incluída em cada PM4.</p></div>
    <div class="col-md-4">
        <img style="margin-top: -40px;" src="static/img/produtos/modeloe/monitor.jpg"/>
    </div>
    <p>&nbsp;</p>

    <p>&nbsp;</p>

    <p>&nbsp;</p>

    <h4><strong>Flywheel e dragagem</strong></h4>

    <p>&nbsp;</p>

    <div class="col-md-9"><p>Nossos remoergômetros respondem ao seu esforço a cada remada, então você está no controle total do seu esforço e resistência em todos os momentos. A entrada de ar em espiral permite facilmente ajustar o fluxo de ar para o flywheel, assim você pode mudar a sensação da remada de acordo com sua preferência. O design do flywheel minimiza o ruído e maximiza a sensação de suavidade.</p></div>
    <div class="col-md-3">
        <img style="width: 70%; margin-top: -45px;" src="static/img/produtos/modeloe/flywheel.jpg"/>
    </div>
    <p>&nbsp;</p>

    <p>&nbsp;</p>

    <p>&nbsp;</p>

    <h4><strong>Altura do assento</strong></h4>

    <p>O Modelo E chama atenção no meio da multidão. Em um estabelecimento comercial, os usuários do Modelo E não serão ofuscados pelos elípticos e esteiras ao redor. Em um ambiente mais íntimo, você terá o conforto e a facilidade de sentar em uma máquina que está na altura da cadeira. A altura do assento de 51 cm é particularmente útil se seus joelhos não dobram como antigamente, se você estará sentando no remo ergômetro de uma cadeira de rodas, ou se você preferir sentar mais longe do
        chão.</p>
    <img src="static/img/produtos/modeloe/seat-height.jpg" style="margin-left: -10px;width: 102%;"/>

    <p>&nbsp;</p>

    <p>&nbsp;</p>

    <p>&nbsp;</p>

    <h4><strong>Armazenamento e Mobilidade</strong></h4>

    <p>O modelo D apresenta um mecanismo de liberação rápida (sem necessidade de ferramentas!), assim você pode facilmente separar a máquina em duas partes para armazenamento. Rodas no pé da frente permitem rolar a máquina totalmente montada para posição escolhida.</p>

    <p>&nbsp;</p>
    <h4><strong>Corrente niquelada</strong></h4>

    <p>&nbsp;</p>

    <div class="col-md-3">
        <img src="static/img/produtos/modeloe/chain.jpg" style="width: 65%;"/>
    </div>
    <div class="col-md-9">
        <p style="margin-top: 45px;">Corrente niquelada: é bonita e trabalha duro. O níquel permite períodos maiores entre lubrificação, por isso, mesmo que a manutenção não é o seu forte, o Modelo E ainda vai sentir suave e sedoso durante o próximo treino.
        </p>
    </div>
    <p>&nbsp;</p>

    <p>&nbsp;</p>

    <p>&nbsp;</p>

    <p>&nbsp;</p>

    <h4><strong>Mais altura, mais perna</strong></h4>

    <p>&nbsp;</p>

    <div class="col-md-9"><p style="margin-top: 50px;">Para aguentar a altura de 51 cm, resolvemos ter um design de perna de uma peça só para ambas as pernas dianteiras e traseiras. O resultado final? Estabilidade e uma certeza, sensação de solidez.

    </p></div>
    <div class="col-md-3">
        <img src="static/img/produtos/modeloe/front-leg.jpg"/>
    </div>
    <p>&nbsp;</p>

    <p>&nbsp;</p>

    <h4><strong>Fincapés ajustáveis e punho</strong></h4>

    <p>Usamos fincapés ajustáveis em nossos ergômetros para dimensionamento rápido e fácil. (Os fincapés acomodam uma ampla gama de tamanhos de sapato.) Nosso punho confortável é ergonômico porque apresenta uma curva de 10 graus que lhe permite remar com uma posição natural do braço e da mão.
    </p>

    <p>&nbsp;</p>

    <p>&nbsp;</p>
    <h4><strong>Trilho de aço inoxidável</strong></h4>

    <p>O trilho de alumínio recebe como capa uma faixa de aço inoxidável para garantir um movimento suave do assento.</p>

    <p>Construção durável que é fácil de preservar</p>

    <p>Nossas máquinas são bem conhecidas por sua durabilidade e construção. Resistente e construída para durar, as nossas máquinas suportam o uso rigoroso em clubes de remo, centros de treinamento, salas de estar, hotéis, academias de ginástica e as bases militares ao redor do mundo. Temos certeza de nossas máquinas são fáceis de cuidar (hyperlink para página de manutenção) para que você possa se concentrar no uso do seu investimento, e não em preservá-la.
    </p>

    <p>&nbsp;</p>

    <p>&nbsp;</p>
    <h4><strong>Acessórios inclusos</strong></h4>

    <p>Nós incluímos os seguintes itens com a compra do Modelo E com PM4:</p>

    <p><i class="fa fa-check"></i>Bateria recarregável</p>

    <p><i class="fa fa-check">Um LogCard</i></p>

    <p><i class="fa fa-check">Cabo USB para conectar o PM4 em seu computador e acessar os dados do seu LogCard</i></p>

    <p><i class="fa fa-check">Óleo Concept2 de corrente</i></p>

    <p><i class="fa fa-check">Manual do usuário</i></p>

    <p><i class="fa fa-check">Ferramentas e instruções ilustradas para montagem</i></p>

    <p><i class="fa fa-check">Cinto de frequência cardíaca da Garmin</i></p>
      <p>&nbsp;</p>
    <h4><strong>Opção para a treinamento de equipe ou simulação na água</strong></h4>

    <p>O <a href="">slide Concept2</a> (vendido separadamente) proporciona a sensação de remar sob a água ao remar no Modelo E e permite que você conecte múltiplos Modelo Cs, Ds e/ou Es para treinamento da equipe.</p>
<p>&nbsp;</p>

    <h4><strong>Garantia</strong></h4>
    <p>&nbsp;</p>
    <p>O Modelo E está coberto pela nossa garantia limitada de cinco anos da estrutura e garantia de dois anos do monitor de performance e partes móveis. Veja todos os detalhes da garantia. Veja todos os detalhes da garantia.</p>
</div>
