<table class="table table-striped tabela">
    <tr>
        <td><strong>Monitor</strong></td>
        <td>PM4</td>
    </tr>
    <tr>
        <td><strong>Comprimento</strong></td>
        <td>244 cm</td>
    </tr>

    <tr>
        <td><strong>Largura</strong></td>
        <td>61 cm</td>
    </tr>
    <tr>
        <td><strong>Altura do assento</strong></td>
        <td>51 cm</td>
    </tr>
    <tr>
        <td><strong>Comprimento do trilho</strong></td>
        <td>137 cm <br/> Espaço pra pernas de até 91 cm. <br/> Trilho maior disponível por um preço adicional. Entre em contato para mais informações.</td>
    </tr>
    <tr>
        <td><strong>Corrente</strong></td>
        <td>Corrente niquelada</td>
    </tr>
    <tr>
        <td><strong>Quadro Estrutural que contém a corrente</strong></td>
        <td>Totalmente fechada</td>
    </tr>
    <tr>
        <td><strong>Fonte de energia do monitor</strong></td>
        <td>PM3: garante energia quando o remoergômetro está em uso. <br/> PM4: Bateria recarrega enquanto remoergômetro é usado.</td>
    </tr>
    <tr>
        <td><strong>Peso máximo do usuário</strong></td>
        <td>227 kg</td>
    </tr>
    <tr>
        <td><strong>Pernas de apoio</strong></td>
        <td>Aço soldado</td>
    </tr>
    <tr>
        <td><strong>Braço do monitor</strong></td>
        <td>Braço do monitor fixo feito de alumínio. Ângulo do monitor pode ser ajustado.</td>
    </tr>
    <tr>
        <td><strong>Acabamento</strong></td>
        <td>Dupla camada de pintura eletrostática além da camada transparente.</td>
    </tr>
    <tr>
        <td><strong>Cores</strong></td>
        <td>Cinza claro com partes em azul marinho.</td>
    </tr>
    <tr>
        <td><strong>Armazenagem</strong></td>
        <td>Pode ser separado em duas partes para fácil armazenagem.</td>
    </tr>
    <tr>
        <td><strong>Requisitos de espaço</strong></td>
        <td>Montado: 244 cm x 61 cm <br/>Espaço ideal durante uso: 274 cm x 122 cm <br/> Para armazenamento: 68,6 cm x 119,4 cm x 137,2 cm</td>
    </tr>
    <tr>
        <td><strong>Peso da máquina</strong></td>
        <td>29 kg</td>
    </tr>
    <tr>
        <td><strong>Dimensões para transporte</strong></td>
        <td>Duas caixas: 38 cm x 55 cm x 142 cm 33 cm x 66 cm x 71 cm</td>
    </tr>
    <tr>
        <td><strong>Peso para transporte</strong></td>
        <td>Caixa 1: 32 kg Caixa 2: 14 kg</td>
    </tr>
</table>