<div class="container">
    <div class="row">
        <div class="col-md-2">
            <nav class="menu-downloads">
                <ul class="nav nav-pills nav-stacked " style="margin-left: 5px;">
                    <li class="menu-titulo titulo"><a>DOWNLOADS</a></li>
                    <li class="menu-titulo"><a>Apps Concept2</a></li>
                    <li class="sub-download"><a href="#/suporte/utilidades">Utilidades</a></li>
                    <li class="sub-download"><a href="#/suporte/venurace">Venue Race</a></li>
                    <li class="sub-download"><a href="#/suporte/ergdata">ErgData</a></li>
                    <li class="menu-titulo"><a>Apps de Terceiros</a></li>
                    <li class="sub-download"><a href="#/suporte/rowpro">RowPro</a></li>
                    <li class="sub-download"><a href="#/suporte/liverowing">LiveRowing</a></li>
                    <li class="sub-download sub" style="margin-bottom: 10px;"><a href="#/suporte/movergames">Mover Games</a></li>
                </ul>
             </nav>
        </div>
        <div class="col-md-10 download" ng-include="downloadTemplate">

        </div>
        <div class="col-md-10">
            <p style="color: white">Aplicativos Concept2</p>
        </div>
    </div>
</div>