<div class="container">
    <div class="row">
        <div class="col-md-2">
            <nav class="menu-downloads">
                <ul class="nav nav-pills nav-stacked " style="margin-left: 15px;">
                    <li class="menu-titulo titulo"><a><strong>DOWNLOADS</strong></a></li>
                    <li class="menu-titulo"><a><strong>Apps Concept2</strong></a></li>
                    <li class="sub-download "><a href="#/suporte/utilidades">Utilidades</a></li>
                    <li class="sub-download"><a href="#/suporte/venurace">Venue Race</a></li>
                    <li class="sub-download"><a href="#/suporte/ergdata">ErgData</a></li>
                    <li class="menu-titulo"><a><strong>Apps de Terceiros</strong></a></li>
                    <li class="sub-download"><a href="#/suporte/rowpro">RowPro</a></li>
                    <li class="sub-download"><a href="#/suporte/liverowing">LiveRowing</a></li>
                    <li class="sub-download sub" style="margin-bottom: 10px;"><a href="#/suporte/movergames">Mover Games</a></li>
                </ul>
             </nav>
        </div>
        <div class="col-md-10 descricao-down" ng-include="downloadTemplate">

        </div>
        <div class="col-md-4" style="margin-left: 300px;">
             <p>&nbsp;</p>
             <p>&nbsp;</p>
            <p style="color: white">Aplicativos Concept2</p>

        </div>
        <div class="col-md-4">
             <p>&nbsp;</p>
             <p>&nbsp;</p>
            <p style="color: white">Aplicativos de Terceiros</p>
        </div>
    </div>
</div>