/* app css stylesheet */

.slide-foto{
   -webkit-filter: blur(10px);
  background-repeat: no-repeat;
}
.slide-foto-1{
  background-image: url(fotos/fundo-home-1.jpg);

}

.logo{
  width: 282px;
  height: 39px;
  background-image: url(fotos/Concept2-logo-branco.png) ;
  background-size: contain;
  background-repeat: no-repeat;
  text-indent: -1000px;
}
#slide{
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0 auto;

}
#slide img{
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

header .container{
  background-color: rgba(0,0,0,0.6);

}


/*menu ul{*/
  /*list-style: none;*/
  /*text-transform: uppercase;*/

/*}*/
/*menu li{*/
  /*display:inline-block;*/
  /*background:rgba(0,0,0,0);*/
  /*padding: 10px;*/
 /*margin-top: 50px ;*/
/*}*/
/*li a{*/
  /*color: #FFFFFF;*/
  /*text-decoration: none;*/
  /*font-size: large;*/
  /*font-family: Calibri;*/
  /*font-weight: 400;*/
/*}*/

