<div class="container">
    <div class="row caixa-texto">
        <div class="col-md-10">
            <h4><strong>Remos</strong></h4>
             <p>&nbsp;</p>
             <p>&nbsp;</p>
            <div class="col-md-11 descricao-remos">
                <img style=" width: 100%;margin-top: 15px;" src="static/img/produtos/remos/Remos-1.jpg"/>
                <p>&nbsp;</p>
                <p>Quando você rema com os remos Concept2, você tem 30 anos de design e inovação, literalmente às pontas dos seus dedos.  Com cada remo, nós nos comprometemos com nossos melhores esforços, para que você possa fazer o seu melhor esforço.  Lhe convidamos para conhecer mais e por que nossos remos são a escolha preferida dos melhores atletas do mundo.</p>

            </div>
            <p>&nbsp;</p>
             <p>&nbsp;</p>
             <p>&nbsp;</p>

            <div class="col-md-4" style="margin-top: 30px; margin-left: 30px; background-color: #111111">
                <img src="static/img/produtos/remos/blades-home.jpg"/>
                <p>&nbsp;</p>
                <h2 style="color:#ccffff;">Pás</h2>
                <p>&nbsp;</p>
                <p style="color: white">Escolha entre 5 designs a sua preferência.</p>
            </div>
            <div class="col-md-4" style="margin-top: 30px; margin-left: -17px; background-color: #3d3d3d">
                <img src="static/img/produtos/remos/shaft-bend%20(1).jpg"/>
                <h2 style="color:#ccffff;">Hastes</h2>
                <p>&nbsp;</p>
                <p style="color: white">Maximize sua opção de pá com nossas opções de haste.</p>
            </div>
            <div class="col-md-4" style="margin-top: 30px; margin-left: -17px; background-color: #555555">
                <img src="static/img/produtos/remos/pete-and-dick.jpg"/>
                <h2 style="color:#ccffff;">Qualidade</h2>
                <p>&nbsp;</p>
                <p style="color: white">Aprenda sobre os métodos que usamos para garantir a melhor qualidade.</p>
            </div>

        </div>
    </div>
</div>