<div class="container">
    <div class="row caixa-texto">
        <div class="col-md-10">
            <h4><strong>Remos</strong></h4>
             <p>&nbsp;</p>
             <p>&nbsp;</p>
            <div class="col-md-10 descricao-remos">
                <img style=" width: 100%;margin-top: 15px;" src="static/img/produtos/remos/Remos-1.jpg"/>
                <p>&nbsp;</p>
                <p>Quando você rema com os remos Concept2, você tem 30 anos de design e inovação, literalmente às pontas dos seus dedos.  Com cada remo, nós nos comprometemos com nossos melhores esforços, para que você possa fazer o seu melhor esforço.  Lhe convidamos para conhecer mais e por que nossos remos são a escolha preferida dos melhores atletas do mundo.</p>
            </div>
            <p>&nbsp;</p>
             <p>&nbsp;</p>

        </div>
    </div>
</div>