#logo {
    width: 282px;
    height: 39px;
    background-image: url(../img/logo-branco.png);
    background-size: contain;
    background-repeat: no-repeat;
    text-indent: -1000px;
}

#social {
    float: right;
    display: inline-flex;
}

#social a {
    text-decoration: none;
}

#social a h5 {
    text-transform: uppercase;
    font-family: Calibri;
    font-size: 115%;
    color: white;
}

#social i {
    color: white;
    padding-top: 10px;
    margin-right: 155px;
}
header .container{
    background-color: rgba( 0,0,0,0.3);
    padding: 15px;
    margin-top: 10px;
}

#menu ul {
    list-style: none;
    text-transform: uppercase;

}

#menu ul li {
    display: inline;
    font-family: Calibri;
    font-size: 120%;
}

#menu ul li a {
    text-decoration: none;
    color: white;
}

#menu ul li a:hover {
    background-color: #233340;
}

#menu a {
    padding: 10px;
}

#menu a:hover {
    transition: 0.5s;
    color: gainsboro;
}

.slideshow {
    overflow: hidden;
    z-index: -999;
    padding: 0;
    margin: -120px 0 0;
}

#slide img {
    padding: 0;
    margin: 0;
}

.fundo-slide {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -999;
    background-image: url(../img/slide/fundo-home-1.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    min-width: 100%;
    min-height: 100%;
}

.pagina-home {
}

.pagina-produtos {
    background: radial-gradient(#0f3d5e ,#020e1c);
    min-height: 100%;
    background-repeat: no-repeat;
}

.pagina-comunidade{
    background: radial-gradient(#253940,#070c0f);
    background-repeat: no-repeat;
}

.pagina-eventos{
    background: radial-gradient( #6d7520, #30340f);
    background-repeat: no-repeat;
}
.pagina-eventos .borda-evento{
    border: 5px solid white;
    font-size: large;
    font-family: Calibri;
    text-align: center;
    color: white;
    min-height: 395px;
}
.pagina-eventos .borda-evento a{
    text-decoration: none;
    font-size: 1em;
    color: rgba(255, 255, 255, 0.4);
}
.pagina-eventos .conteudo{
    width: 240px;
    height: 155px;
    float: right;
}
.pagina-eventos p{
    color: rgba(255, 255, 255, 0.8);
}

.pagina-noticias{
    background: radial-gradient(#3d4246,#28292e);
    background-repeat: no-repeat;
}

.pagina-suporte{
    background: radial-gradient(#6a8ea8, #436072);
    background-repeat: no-repeat;
}

.pagina-contato{
    background: radial-gradient(#8a8a8a,#616161);
    background-repeat: no-repeat;
}