<div class="container">
<div class="row">
    <div class="col-md-10 descricao-download">
        <div class="col-md-7 imagem1">
            <img src="static/img/suporte/venurace.jpg"/>
        </div>
        <div class="col-md-4 ">
            <h3 style="text-align: center">Venue Race</h3>
            <p style="text-align: justify">Este programa permite competições de máquinas de Remo Indoor interligadas a um computador, que podem ser exibidas em uma tela para um público</p>
            <p style="text-align: justify">Com o Venue Race é possível juntar até 180 máquinas competindo ao mesmo tempo, em categorias individuais, duplas, quadras ou até oitos.</p>
            <p>&nbsp;</p>
            <p style="text-align: right">Faça o download</p>
            <img src="static/img/suporte/c2down.jpg" style="width: 30%; margin-right: 100px;"/>
            <img src="static/img/suporte/windowsdown.jpg" style="width: 33%;"/>
        </div>
    </div>
</div>
</div>