<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
            <h3><strong>Assento de Espuma</strong></h3>
            <p>&nbsp;</p>
            <p>Vamos admitir: o bumbum trabalha duro durante o remo. Se você prefere um pouco mais de estofo, experimente o nosso almofada do assento. Cortado a partir de 3/8 "de espuma, a almofada do assento tem suporte auto-adesivo para fácil instalação e remoção. Ele também fornece opcional recortes para acomodar confortavelmente os ossos de assento.</p>
            <p>Número da peça: 1409</p>
             </div>
            <div class="col-md-6">
                <img style="width: 50%; margin-top: 45px;" src="static/img/produtos/seat-pad.jpg" />

            </div>

        </div>
    </div>
</div>