<!DOCTYPE html>
<html lang="pt-BR" ng-app="concept2Admin">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/admin/css/app-admin.css">
    <link rel="icon" href="/static/img/c2-logo.png" sizes="16x16"/>
    <title>Admin Concept2 Brasil</title>
</head>
<body>
<header>
    <nav class="navbar navbar-default navbar-static-top navegacao">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Ativa navegação</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand icon" href="/admin/#/"></a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li ng-class="{'active': pagina == item.slug}" ng-repeat="item in itensMenu">
                        <a href="{{item.url}}" class="text-uppercase" ng-if="item.subItens.length == 0">{{item.label}}</a>
                        <div class="btn-group" ng-if="item.subItens.length > 0">
                            <a href="{{item.url}}" class="btn navbar-btn text-uppercase">{{item.label}}</a>
                            <button type="button" class="btn navbar-btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Abrir</span>
                            </button>
                            <ul class="dropdown-menu">
                                <li ng-repeat="subItem in item.subItens"><a href="{{subItem.url}}">{{subItem.label}}</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div ng-view></div>
<footer class="rodape">
    <div class="container">
        <div class="row copyright">
            <div class="col-md-12">
            </div>
        </div>
    </div>
</footer>
<script src="/static/admin/js/componentes-admin.min.js"></script>
<script src="/static/admin/js/app-admin.min.js"></script>
</body>
</html>