<div class="container">
    <div class="row">
        <div class="col-md-12">
        <div class="col-md-7">
            <h3><strong>LogCard</strong></h3>
               <p>&nbsp;</p>
            <h4><strong>Diário de treino virtual</strong></h4>
             <p>&nbsp;</p>
            <p>Este cartão inteligente é a forma virtual para manter o controle de seu treinamento. Ele capta os dados de seu treino diretamente do monitor de performance. Compatível com o PM3 e PM4, basta inserir o LogCard no monitor antes de seu treino, e o monitor irá armazenar seus dados no LogCard quando terminar o treino.</p>
            <p>&nbsp;</p>
            <h4><strong>Portátil</strong></h4>
            <p>Do tamanho de um cartão de crédito, o LogCard se encaixa facilmente em sua carteira para que possa levá-lo junto com você. Especialmente útil se você se exercita em vários locais.</p>
            <p>&nbsp;</p>
            <h4><strong>Salvar treinamentos favoritos</strong></h4>
            <p>O monitor de performance permite que você armazene seus cinco treinos favoritos. Você também pode armazenar cinco treinos adicionais em seu LogCard, tornando-o ideal se você tem um monte de exercícios favoritos, ou se você quiser configurá-los rapidamente em uma máquina diferente.</p>
            <p>&nbsp;</p>
            <h4><strong>Armazenamento de dados para até cinco usuários</strong></h4>
            <p>Tem mais de uma pessoa para usar a máquina? Não tem problema! Cada LogCard pode armazenar dados para até cinco pessoas, então todos podem compartilhar apenas um LogCard.</p>
             <p>&nbsp;</p>
        </div>


        <div class="col-md-5">
            <img style="width: 60%;margin-top: 75px; margin-left: -25px;" src="static/img/produtos/logcard/accessories_logcard.jpg" />
        </div>

            <div class="col-md-10">
                 <h4><strong>Transferir dados para o seu diário de treino online</strong></h4>
            <p>Depois de ter os dados em seu LogCard, você pode usar nosso utilitário Concept2 livre para carregar os dados para o seu Concept2 diário de bordo on-line ou em uma planilha no computador. Basta ligar o monitor de performance ou leitor de cartão ao seu computador e usar o utilitário da Concept2 para gerenciar os dados em seu LogCard.</p>
                <p>&nbsp;</p>
                <h4><strong>Tão útil que incluímos de graça</strong></h4>
                <p>Nós incluímos um LogCard com cada remoergômetro, SkiErg e PM3/PM4 retrofit comprado. Nós também vendemos separadamente no caso que você gostaria de outro e em caixas com 25 unidades caso você esteja montando sua equipe.</p>

            </div>

        </div>
    </div>
</div>
