<div class="col-md-12">
    <h4><strong>Monitor de Perfomance</strong></h4>

    <p>&nbsp;</p>

    <div class="col-md-4 monitor"><img src="../../../static/img/produtos/modelod/pm5_black.jpg"/></div>
    <div class="col-md-8  descricao-monitor"><p>Cada Modelo D inclui um PM5, o monitor de desempenho mais evoluído, dando-lhe dados precisos e comparáveis ​​para cada remada. O braço de monitor ajustável permite posicionar o monitor onde você preferir.
    </p></div>
</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<div class="col-md-12">
    <h4><strong>Flywheel e dragagem</strong></h4>
    <div class="col-md-9"><p>Nossos remoergômetros respondem ao seu esforço a cada remada, então você está no controle total do seu esforço e resistência em todos os momentos. A entrada de ar em espiral permite facilmente ajustar o fluxo de ar para o flywheel, assim você pode mudar a sensação da remada de acordo com sua preferência. O design do flywheel minimiza o ruído e maximiza a sensação de suavidade.</p></div>
    <div class="col-md-3"><img src="../../../static/img/produtos/modelod/flywheel.jpg"/></div>
</div>
<p>&nbsp;</p>
<p>&nbsp;</p>

<h4><strong>Perfil baixo</strong></h4>
<p>Com a sua altura de (35,6 cm) no assento, o Modelo D mantém um perfil baixo.</p>
<img style="margin-left: 160px;" src="../../../static/img/produtos/modelod/profile.jpg"/>
<p>&nbsp;</p>
<p>&nbsp;</p>
<div class="col-md-12">
    <h4><strong>Armazenamento e Mobilidade</strong></h4>

    <p>&nbsp;</p>

    <div class="col-md-3"><img style="width: 80%; margin-left: 35px;" src="../../../static/img/produtos/modelod/apart.jpg"/></div>
    <div class="col-md-9"><p>O modelo D apresenta um mecanismo de liberação rápida (sem necessidade de ferramentas!), assim você pode facilmente separar a máquina em duas partes para armazenamento. Rodas no pé da frente permitem rolar a máquina totalmente montada para posição escolhida.</p></div>

</div>
    <p>&nbsp;</p>
        <p>&nbsp;</p>

<div class="col-md-12">
    <h4><strong>Fincapés ajustáveis e punho</strong></h4>
        <p>&nbsp;</p>

    <div class="col-md-8"><p>Usamos fincapés ajustáveis em nossos ergômetros para dimensionamento rápido e fácil. (Os fincapés acomodam uma ampla gama de tamanhos de sapato.) Nosso punho confortável é ergonômico porque apresenta uma curva de 10 graus que lhe permite remar com uma posição natural do braço e da mão. </p></div>
    <div class="col-md-4"><img src="../../../static/img/produtos/modelod/footstretcher.jpg"/></div>
</div>
        <p>&nbsp;</p>

<div class="col-md-12">
    <h4><strong>Corrente niquelada</strong></h4>
            <p>&nbsp;</p>

    <p>Corrente niquelada: é bonita e trabalha duro. O níquel permite períodos maiores entre lubrificação, por isso, mesmo que a manutenção não é o seu forte, o Modelo D ainda vai sentir suave e sedoso durante o próximo treino.</p>
</div>
        <p>&nbsp;</p>

<div class="col-md-12">
    <h4><strong>Trilho de aço inoxidável</strong></h4>
        <p>&nbsp;</p>

    <p>O trilho de alumínio recebe como capa uma faixa de aço inoxidável para garantir um movimento suave do assento.</p>
</div>
        <p>&nbsp;</p>

<div class="col-md-12">
    <h4><strong>Construção durável que é fácil de preservar</strong></h4>
        <p>&nbsp;</p>

    <p>Nossas máquinas são bem conhecidas por sua durabilidade e construção. Resistente e construída para durar, as nossas máquinas suportam o uso rigoroso em clubes de remo, centros de treinamento, salas de estar, hotéis, academias de ginástica e as bases militares ao redor do mundo. Temos certeza de nossas máquinas são fáceis de cuidar para que você possa se ​​concentrar no uso do seu investimento, e não em preservá-la.</p>
</div>

<div class="col-md-12">
        <h4><strong>Acessórios Inclusos</strong></h4>
        <p>Nós incluímos os seguintes itens com a compra do modelo D com o PM3 ou PM4:</p>
        <p><i class="fa fa-check">Manual do usuário</i></p>
        <p><i class="fa fa-check">Ferramentas e instruções ilustradas para montagem</i></p>
</div>

<div class="col-md-12">
            <h4><strong>Opção para a treinamento de equipe ou simulação na água</strong></h4>
            <p>O <a href="">slide Concept2</a> (vendido separadamente) proporciona a sensação de remar sob a água ao remar no Modelo D e permite que você conecte múltiplos Modelo Cs, Ds e/ou Es para treinamento da equipe.</p>

</div>
<div class="col-md-12">
    <h4><strong>Garantia</strong></h4>
    <p>O Modelo D está coberto pela nossa garantia limitada de cinco anos da estrutura e garantia de dois anos do monitor de performance e partes móveis. <a href="">Veja todos os detalhes da garantia.</a></p>
</div>