<div class="container">
<div class="row">
    <div class="col-md-10">
        <div class="col-md-7 imagem">
            <img src="static/img/suporte/liverowing.jpg" style="width: 100%;margin-left: -30px;"/>
        </div>
        <div class="col-md-4">
            <h3 style="text-align: center">LiveRowing</h3>
            <p style="text-align: justify">o App LiveRowing permite você criar um perfil para acompanhar seus treinos e usar sua rede social para comparar o resultado com seus <amigos class=""></amigos></p>
            <p>&nbsp;</p>
            <p style="text-align: right">Faça o download</p>

        </div>
    </div>
</div>
</div>