<div class="container" style="background-color: white; border: 2px solid black; height: 500px">
    <div class="row">
        <h1 style="color:black; text-align: center; margin-bottom: 30px; border-bottom: 1px dashed black">Cadastro CaBra-RI</h1>

        <div class="campos" style="margin-left: 100px; margin-right: 100px">
            <form  novalidate name="formInscricao" class="css-form">
                <div class="col-md-4">
                    <!--campo nome-->
                    <div class="form-group has-feedback formInput" ng-class="{'has-success': campoEstaValido(formInscricao.nome), 'has-error': campoEstaInvalido(formInscricao.nome)}">
                        <label class="control-label" for="nome">Nome:</label>

                        <input type="text" class="form-control" id="nome" name="nome" ng-model="dadosInscricao.nome" placeholder="Primeiro Nome" aria-describedby="camponome" required/>
                        <span class="fa form-control-feedback" aria-hidden="true" ng-class="{'fa-asterisk': campoNaoTocado(formInscricao.nome), 'fa-check': campoEstaValido(formInscricao.nome), 'fa-close': campoEstaInvalido(formInscricao.nome)} "></span>
                        <span id="camponome" class="help-block" ng-show="formInscricao.nome.$touched && formInscricao.nome.$error.required">* o campo é obrigatório *</span>
                    </div>
                  </div>
                    <!--campo sobrenome-->
                    <div class="col-md-4">
                    <div class="form-group has-feedback formInput" ng-class="{'has-success': campoEstaValido(formInscricao.sobrenome), 'has-error': campoEstaInvalido(formInscricao.sobrenome)}">
                        <label class="control-label" for="sobrenome">Sobrenome:</label>

                        <input type="text" class="form-control" id="sobrenome" name="sobrenome" ng-model="dadosInscricao.sobrenome" placeholder="Segundo Nome" aria-describedby="camposobrenome" required/>
                        <span class="fa form-control-feedback" aria-hidden="true" ng-class="{'fa-asterisk': campoNaoTocado(formInscricao.sobrenome), 'fa-check': campoEstaValido(formInscricao.sobrenome), 'fa-close': campoEstaInvalido(formInscricao.sobrenome)} "></span>
                        <span id="camposobrenome" class="help-block" ng-show="formInscricao.sobrenome.$touched && formInscricao.sobrenome.$error.required">* O campo é obrigatório *</span>

                    </div>
                    </div>
                <!--data de nascimento-->
                <div class="col-md-4">
                    <div class="form-group has-feedback formInput" ng-class="{'has-success': campoEstaValido(formInscricao.data), 'has-error': campoEstaInvalido(formInscricao.data)}">
                        <label class="control-label" for="data">Data de Nascimento</label>
                        <input type="text" class="form-control" name="data" id="data"
                               placeholder="dd/mm/aaaa" ui-mask="99/99/9999"
                               ng-model="dadosInscricao.data" aria-describedby="campodata" required ui-options="maskDef"/>
                        <span class="fa form-control-feedback" aria-hidden="true" ng-class="{'fa-asterisk': campoNaoTocado(formInscricao.data), 'fa-check': campoEstaValido(formInscricao.data), 'fa-close': campoEstaInvalido(formInscricao.data)} "></span>
                        <span id="campodata" class="help-block" ng-show="formInscricao.data.$touched && formInscricao.data.$error.required">* O campo é obrigatório *</span>
                    </div>
                </div>
                <!--campo afiliação-->
                <div class="col-md-4">
                 <div class="form-group">
                            <label for="afiliacao">Afiliação</label>
                            <input type="text" class="form-control" name="afiliacao" id="afiliacao" placeholder="Clube, Academia, Box de CF ou Independente" ng-model="dadosInscricao.afiliacao"/>
                        </div>
                  </div>

                <!--campo nome do time-->
                 <div class="col-md-4">
                      <div class="form-group">
                        <label for="time">Nome do Time:</label>
                        <input type="text" class="form-control" name="time" id="time" placeholder="Nome do Time"
                               ng-model="dadosInscricao.time"/>
                    </div>
                 </div>

                <!--campo sexo-->
                    <div class="col-md-4">
                        <div class="form-group">
                        <label>Sexo:</label></br>
                        <!--<div class="btn-group" data-toggle="buttons">-->
                        <label class="btn btn-primary btn-sm">
                            <input type="radio" name="options" id="option1" autocomplete="off"/>
                            Masculino
                        </label>
                        <label class="btn btn-primary btn-sm" style="margin-left: 10px">
                            <input type="radio" name="options" id="option2" autocomplete="off">
                            Feminino
                        </label>
                    </div>
                    </div>
                <!--campo cpf-->
                <div class="col-md-4">
                        <div class="form-group has-feedback formInput" ng-class="{'has-success': campoEstaValido(formInscricao.cpf), 'has-error': campoEstaInvalido(formInscricao.cpf)}">
                            <label class="control-label" for="cpf">CPF:</label>

                            <input type="text" class="form-control" id="cpf" name="cpf" ng-model="dadosInscricao.cpf" aria-describedby="campocpf" ui-mask="999.999.999-99" required/>
                            <span class="fa form-control-feedback" aria-hidden="true" ng-class="{'fa-asterisk': campoNaoTocado(formInscricao.cpf), 'fa-check': campoEstaValido(formInscricao.cpf), 'fa-close': campoEstaInvalido(formInscricao.cpf)} "></span>
                            <span id="campocpf" class="help-block" ng-show="formInscricao.cpf.$touched && formInscricao.cpf.$error.required">* O campo é obrigatório *</span>
                        </div>
                </div>

                <div class="col-md-4">

                    <div class="form-group">
                        <label for="email">E-mail:</label>
                        <input type="email" class="form-control" name="email" id="email" placeholder="Gmail ou Hotmail"
                               ng-model="dadosInscricao.email"/>
                  </div>
                </div>

                    <div class="col-md-4">

                      <div class="form-group">
                        <label for="telefone">Telefone:</label>
                        <input type="text" class="form-control" name="telefone" id="telefone" placeholder="(xx)xxxx-xxxx"
                               ui-mask="(99)9999-9999" ng-model="dadosInscricao.telefone"/>
                    </div>

                    </div>


                <!--<div class="col-md-4">-->

                    <!--<div class="form-group">-->
                        <!--<label for="celular">Celular:</label>-->
                        <!--<input type="text" class="form-control" name="celular" id="celular" placeholder="(xx)xxxx-xxxx"-->
                               <!--ui-mask="(99)9999-9999" ng-model="dadosInscricao.celular"/>-->
                    <!--</div>-->


                        <!--</div>-->
            </form>
        </div>


    </div>
</div>
