<div class="container">
    <h3>Dados:</h3>

    <form novalidate name="formEdicao" class="form-edicao" role="form" ng-submit="enviandoEdicao()">
        <div class="row">
            <div class="col-md-4 campo">
                <div class="form-group has-feedback formInput" ng-class="{'has-success': campoEstaValido(formEdicao.titulo), 'has-error': campoEstaInvalido(formEdicao.titulo)}">
                    <label class="control-label" for="titulo">Título: <i class="fa fa-asterisk"></i></label>
                    <input type="text" class="form-control" id="titulo" name="titulo" ng-model="evento.titulo" aria-describedby="helpTitulo" required/>
                    <span class="fa form-control-feedback" aria-hidden="true" ng-class="{'fa-check': campoEstaValido(formEdicao.titulo), 'fa-close': campoEstaInvalido(formEdicao.titulo)} "></span>
                    <span id="helpTitulo" class="help-block" ng-show="campoEstaInvalido(formEdicao.titulo)">* o campo é obrigatório *</span>
                </div>
            </div>
            <div class="col-md-4 campo">
                <div class="form-group has-feedback formInput" ng-class="{'has-success': campoEstaValido(formEdicao.slug), 'has-error': campoEstaInvalido(formEdicao.slug)}">
                    <label class="control-label" for="slug">Slug: <i class="fa fa-asterisk"></i></label>
                    <input type="text" class="form-control" id="slug" name="slug" ng-model="evento.slug" aria-describedby="helpSlug" required/>
                    <span class="fa form-control-feedback" aria-hidden="true" ng-class="{'fa-check': campoEstaValido(formEdicao.slug), 'fa-close': campoEstaInvalido(formEdicao.slug)} "></span>
                    <span id="helpSlug" class="help-block" ng-show="campoEstaInvalido(formEdicao.slug)">* o campo é obrigatório *</span>
                </div>
            </div>
            <div class="col-md-4 campo">
                <div class="form-group has-feedback formInput">
                    <label class="control-label" for="subTitulo">SubTitulo:</label>
                    <input type="text" class="form-control" id="subTitulo" name="subTitulo" ng-model="evento.subTitulo" aria-describedby="helpSubTitulo"/>
                </div>
            </div>
        </div>
    </form>
    <h3>Inscrições:</h3>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>Atleta</th>
                    <th>Email</th>
                    <th>Celular</th>
                    <th>Telefone</th>
                    <th>Provas</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="incricao in evento.inscricoes">
                    <td>{{incricao.atleta.nome}}</td>
                    <td>{{inscricao.atleta.email}}</td>
                    <td>{{inscricao.atleta.celular}}</td>
                    <td>{{inscricao.atleta.telefone}}</td>
                    <td>
                        <ul class="provas-selecionadas" id="provas">
                            <li ng-repeat="prova in atleta.inscricao.provas">
                                {{prova.dia}} {{prova.hora}} - {{prova.label}} - {{prova.subCategoria.label}}
                            </li>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>