.inscricoes {
    .inscricao-paga {
        font-size: 27px;
        &.fa-check {
            color: green;
        }
        &.fa-close {
            color: red;
        }
    }
}
.provas {
    .dropdown-menu {
        li {
            cursor: pointer;
        }
    }
}

.tab-pane {
    padding: 30px;
}