.row {
    margin-bottom: 20px;
    &.imagens-noticia {
        .col-md-3 {
            padding-left: 5px;
            padding-right: 5px;
            width: 20%;
        }
        .imagem-noticia {
            background-color: #FAFAFA;
            border-radius: 3px;
            border: 1px solid #DDD;
            padding: 4px;
            margin: 2px;
            .remover {
                padding: 0 4px;
                float: right;
            }
            .imagem {
                margin-top: 26px;
                img {
                    width: 100%;
                }
            }
            .url {
                font-size: 10px;
                float: left;
                padding: 2px 7px;
                border: 1px solid #CCC;
                border-radius: 3px;
                background-color: #FFF;
            }
        }
    }
}