<div class="container">
    <div class="row">
        <div class="col-md-10 descricao-monitores">
            <h3><strong>Monitores de Performance</strong></h3>

            <p>&nbsp;</p>

            <p>&nbsp;</p>
            <img style="width: 65%;margin-left: 108px;" src="static/img/produtos/monitores/pm3-pm4-pm5.jpg"/>

            <p>&nbsp;</p>

            <p>&nbsp;</p>

            <p>Nossos monitores de performance nos diferenciam da concorrência. Se você escolher o PM3 ou o PM5, os dados coletados são precisos e comparáveis, levando o seu treino ao próximo nível.</p>

            <p>&nbsp;</p>

            <p>&nbsp;</p>
            <h4><strong>Características</strong></h4>

            <p>&nbsp;</p>
            <h5><strong>Cheio de Recursos, Fácil de Operar</strong></h5>

            <p>Nós colocamos um monte de funcionalidades em todos os PM, mas também nos certificamos de que eles são fáceis de usar. Os monitores são projetados para ligar e fornecer dados assim que começa a remar, então você não precisa apertar um único botão para começar.</p>

            <p>Se você prefere saber melhor sobre todas as funções que os monitores fornecem, a operação intuitiva do menu é fácil e permite que você acesse rapidamente os treinamentos pré-definidos, salvar treinos favoritos, rever resultados de treinos anteriores e muito mais. Para mais informações sobre como usar o seu monitor de desempenho, acesse o menu de ajuda no monitor ou o link do site americano.</p>

            <p>&nbsp;</p>
            <h5><strong>Dados e displays</strong></h5>

            <p>O Monitor de performance fornece a distância, velocidade, ritmo, calorias e watts para cada exercício que você faz. Se você estiver usando equipamento de frequência cardíaca, ele fornecerá os dados de frequência cardíaca também.</p>

            <p>Você pode escolher entre cinco opções de exibição: Todos os dados, curva de força, gráfico de barras, letras grandes e com um paceboat/ marcapasso.</p>
            <img style="width: 95%;" src="static/img/produtos/monitores/rower-displays.jpg"/>

            <p>&nbsp;</p>
            <h5><strong>LogCard</strong></h5>

            <div class="col-md-10">
                <p>O LogCard removível (incluído) armazena os dados do treino e preferências e faz com que os seus dados portátil. Com o nosso software grátis Utility Concept2, você pode fazer upload de seus dados de seu LogCard para o seu diário de bordo on-line ou em um arquivo no seu computador. Cada LogCard pode armazenar dados e preferências para até cinco pessoas, por isso mesmo, se há mais de um remador que use a máquina, um LogCard é tudo que você precisa.</p>
            </div>
            <div class="col-md-2">
                <img style="width: 95%;" src="static/img/produtos/monitores/logcard-small.jpg"/>
            </div>
            <p>&nbsp;</p>
            <h5><strong>Geração de Energia</strong></h5>

            <p>O PM3 leva duas pilhas D ou o adaptador AC opcional. Se você usar baterias, o monitor recebe energia a partir do ergômetro durante seus treinos para prolongar a vida da bateria.</p>

            <p>O PM4 inclui uma bateria recarregável que recarrega enquanto você rema ou quando conectado a um computador (cabo USB incluído). Fora isso, você pode ligar a PM4 com duas pilhas D ou o adaptador AC opcional.</p>

            <p>&nbsp;</p>
            <h5><strong>Jogos</strong></h5>

            <p>Ambos os monitores incluem jogos para aqueles dias em que você precisa de uma motivação extra ou apenas uma pausa de sua rotina. Eles também são excelentes ferramentas de ensino para crianças e adultos! O PM3 inclui o Fish Game (jogo do peixe) e Biathlon, enquanto a PM4 também tem Dardos e Treino de Alvo.</p>
            <img style="width: 95%;" src="static/img/produtos/monitores/rower-games.jpg"/>

            <p>&nbsp;</p>
            <h5><strong>Competição</strong></h5>

            <p>A precisão do monitor de performance o torna ideal para corridas e competição. Com um PM, você pode competir contra os seus companheiros de equipe ou rivais de treino, se eles estão na mesma sala ou em outro continente.</p>

            <p>Se você tiver mais de uma máquina, é possível ligá-las para corridas em tempo real. Competição com PM4s é simples e pode ser feito sem fio assim que tirá-los das caixas, ou você pode conectá-los juntos para aproveitar os recursos extras, como o monitoramento da frequência cardíaca sem fio. Ligar as máquinas em conjunto com PM3s também é possível com um PC e cabos USB.</p>

            <p>&nbsp;</p>
            <h4><strong>Características adicionais do PM4</strong></h4>

            <p>&nbsp;</p>
            <h5><strong>Maior capacidade de memória</strong></h5>

            <p>Com o aumento da sua capacidade de memória, a PM4 tem espaço para crescer com recursos no futuro para mantê-lo treinando sempre.</p>

            <p>&nbsp;</p>
            <h5><strong>Sistema de competição integrada</strong></h5>

            <p>O PM4 usa a tecnologia ANT+ para sustentar a corrida sem fio entre até oito máquinas sem a necessidade de nenhum computador ou equipamento extra.</p>

            <p>&nbsp;</p>
            <h5><strong>Monitoramento de frequência cardíaca sem fio</strong></h5>

            <p>A mesma tecnologia ANT+ que faz corrida sem fio em um PM4 possível também permite o monitoramento da frequência cardíaca sem fio. Nós incluímos uma cinta peitoral Garmin com cada PM4 para que você possa usar este recurso diretamente após retirar da caixa.</p>

            <p>&nbsp;</p>
            <h4><strong>Características adicionais do PM5</strong></h4>

            <p>&nbsp;</p>
            <h5><strong>Iluminação da Tela</strong></h5>

            <p>O PM5 tem uma tela iluminada que é energizada pelo próprio uso da máquina (e pelas pilhas quando parado).</p>

            <p>&nbsp;</p>
            <h5><strong>Maior capacidade de memória</strong></h5>

            <p>Através do armazenamento dos treinos em um Pen Drive USB (incluido, mas podendo ser utilizado qualquer um), é possível armazenar todos os seus treinos vitalícios.</p>

            <p>&nbsp;</p>
            <h5><strong>Sistema de competição integrada</strong></h5>

            <p>O PM5 usa a tecnologia ANT+ para sustentar a corrida sem fio entre até oito máquinas sem a necessidade de nenhum computador ou equipamento extra.
                O mesmo pode ser atingido via Bluetooth ou conexão via cabo de rede.</p>

            <p>&nbsp;</p>
            <h5><strong>Monitoramento de frequência cardíaca sem fio</strong></h5>

            <p>O PM5, assim como o PM4, tem uma conectividade ANT+ que funciona com as faixas Suunto e Garmin, além de ter também Bluetooth, que funciona com o Polar Bluetooth.</p>

            <p>&nbsp;</p>
            <h4><strong>Características adicionais do PM4</strong></h4>

            <p>O PM4 foi a evolução do PM3, e agora o PM5 é a última novidade!<br/>
                O PM5 veio para ficar e está rapidamente substituindo os outros monitores. Mas todos ainda são compatíveis e podem competir entre si.</p>
                <p>&nbsp;</p>
            <div class="col-md-11">
            <table class="table table-striped tabela">
                <tr>
                    <td></td>
                    <td><strong>PM3</strong></td>
                    <td><strong>PM4</strong></td>
                    <td><strong>PM5</strong></td>
                </tr>
                <tr>
                    <td><strong>Monitoramento <br/>Cardíaco</strong></td>
                    <td>Polar (com acessório)</td>
                    <td>Polar (com acessório) <br/>Suunto <br/>Garmin</td>
                    <td>Polar Bluetooth <br/> Suunto <br/> Garmin</td>
                </tr>
                <tr>
                    <td><strong>Alimentação de Energia</strong></td>
                    <td>Dínamo enquanto em movimento e 2 pilhas D (grandes) enquanto parado</td>
                    <td>Dínamo enquanto em movimento e bateria recarregável enquanto parado</td>
                    <td>Dínamo enquanto em movimento e 2 pilhas D (grandes) enquanto parado</td>
                </tr>

                <tr>
                    <td><strong>Jogos</strong></td>
                    <td>Jogo dos Peixes <br/>Biathlon</td>
                    <td>Jogo dos Peixes <br/>Biathlon <br/> Dardos <br/> Tiro ao Alvo</td>
                    <td></td>
                </tr>
                <tr>
                    <td><strong>Capacidade de Competição</strong></td>
                    <td>USB via PC</td>
                    <td>USB via PC <br/> Cabo de rede via PC <br/> Wireless sem PC (ANT+)</td>
                    <td>USB via PC <br/> Cabo de rede via PC <br/> Cabo de rede sem PC <br/>Wireless sem PC (ANT+) <br/> Wireless sem PC (Bluetooth)</td>
                </tr>
                <tr>
                    <td><strong>Conectividade</strong></td>
                    <td>USB</td>
                    <td>USB</td>
                    <td>USB <br/>Bluetooth</td>
                </tr>
                <tr>
                    <td><strong>Armazenamento</strong></td>
                    <td>LogCard <br/> Smartphone via USB</td>
                    <td>LogCard <br/> Smartphone via USB</td>
                    <td>USB Pen Drive <br/> Smartphone via USB</td>
                </tr>
                <tr>
                    <td><strong>Expansão</strong></td>
                    <td>Não</td>
                    <td>Não</td>
                    <td>Conectividade Bluetooth em desenvolvimento</td>
                </tr>

            </table>
           </div>
        </div>

    </div>
</div>
