<div class="container">
    <div class="row caixa-texto">
        <div class="col-md-6">
            <h3>RowPro</h3>
            <p>Software de última geração para o remo indoor em casa, RowPro é projetado exclusivamente para Concept2 interior Remadores por Remo Digital Inc. RowPro oferece gráficos 3D de exibição mais planos de formação, uma clínica de treinamento 3D e um log built-in de remo. Basta ligar o Monitor de desempenho em seu PC e clicar em alguns botões. RowPro define o seu treino em seu PM e você começar a remar. É simples assim.</p>
        </div>
        <div class="col-md-6">
            <img style="width: 50%;margin-top: 20px;" src="static/img/produtos/rowpro.jpg"/>
        </div>
    </div>
</div>