<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3><strong>Hastes</strong></h3>
            <p>&nbsp;</p>
            <p>Nós oferecemos as seguintes construções de haste.</p>
            <p>&nbsp;</p>
            <h2><strong>Ultralight (Palamenta Simples e Dupla)</strong></h2>
            <p>&nbsp;</p>
            <p>A Ultralight é nossa haste leve padrão de fibra de carbono que é mais usada em todos os níveis de competição hoje em dia.  Com o passar dos anos, nós refinamos a construção dessa haste para ser o mais durável possível.</p>
            <p>&nbsp;</p>
            <h2><strong>Skinny (Palamenta Simples e Dupla)</strong></h2>
            <p>Feita com fibra de carbono de alta-densidade, o Skinny é uma haste de diâmetro menor que oferece uma sensação mais suave.  Isso pode ser particularmente benéfico para aqueles procurando a eficiência da pá Fat2 mas que querem sua haste menos rígida.  O diâmetro menor também diminui a resistência do vento, que pode ser bastante significante com o vento contra.  A haste Skinny pesa o mesmo que a haste Ultralight.</p>
            <p>&nbsp;</p>
            <h2><strong>Low i (Apenas Palamenta Dupla)</strong></h2>
            <p>A haste Low i usa carbono de alta-densidade, ao invés da fibra de carbono comum usada nas hastes Ultralight.  Usando o carbono mais rígido é possível usar menos material e conseguir uma haste mais leve.  Nós usamos o mesmo carbono de alta-densidade na pá do Low i para conseguir um peso total menor e um peso de balanço extremamente baixo – o peso que se sente na pá cada vez que o remo muda de direção.  Aqueles remando a um ritmo mais alto se beneficiarão usando os remos Low i.  Projetado para competidores de elite, esses remos são menos resistentes a danos de impacto do que os Ultralights.</p>
        </div>
        <div class="col-md-6">
            <img style="margin-top: 40px;width: 60%;" src="static/img/produtos/remos/shaft-bend.jpg" />
        </div>
    </div>
</div>