<div class="container">
    <div class="row lista-caixa caixa-comunidade">
        <div class="col-md-12 titulo">
            <h1 style="text-align: center">Onde Remar ?</h1>
        </div>
        <div class="col-md-8">
            <div class="carregando" loading=".mapa-container"><h3>Carregando</h3><img src="static/img/comunidade/spinner.png"></div>
            <div id="mapa"></div>
        </div>

        <input id="pac-input" class="controls" type="text" placeholder="Buscar Locais">

        <div class="modalidades" style=" position: relative; margin-left: 980px; margin-bottom: 20px">
            <div class="col-md-3">
                  <div class="botoes-mapa {{modalidade.slug}}" ng-repeat="modalidade in modalidades">
                    <button type="button" ng-click="alternaTipo(modalidade)" ng-class="{'active': modalidade.ativo}" class="btn btn-info" autocomplete="off"></button>
                    <h5>{{modalidade.nome}}</h5>
                  </div>
            </div>
        </div>


    </div>
</div>
