<div class="container">
    <div class="row">
        <div ng-repeat="evento in eventos">
            <div ng-if="evento.destaque" class="col-md-9 borda-evento" style="background:radial-gradient({{evento.fundo}})">
                <div class="conteudo">
                <h3>{{evento.titulo}}</h3>
                <p style="text-align: left">{{evento.descricao}}</p>
                </div>
                <img style="margin-left: -53px" ng-src="/static/img/{{evento.imagemLista}}">
            </div>
            <div ng-if="!evento.destaque" class="col-md-3 borda-evento" style="background:radial-gradient({{evento.fundo}})">
                <div class="cont">
                <h3>{{evento.titulo}}</h3>
                <p style="text-align: left">{{evento.descricao}}</p>
                 </div>
                <img ng-src="{{evento.imagemLista}}">
                <div class="link">
                <a ng-href="{{evento.hrefLink}}">{{evento.nomeLink}}</a>
                </div>
            </div>

        </div>
    </div>
</div>