<div class="container">
    <div class="row">
        <div ng-repeat="evento in eventos">
            <div ng-if="evento.destaque" class="col-md-9 lista-caixa">
                <div class=" borda-evento">
                    <div class="panel panel-default caixa-conteudo">
                        <div class="panel-heading">
                            <h3>{{evento.titulo}}</h3>
                        </div>
                        <div class="panel-body destaque">
                            <div class="col-md-4 descricao-destaque">
                                <p ng-bind-html="trataHtml(evento.resumo)"></p>
                                <div class="right"><a ng-href="/#/eventos/{{evento.slug}}">Saiba mais...</a></div>
                            </div>
                            <img ng-src="/static/img/eventos/{{evento.imagemLista}}">
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="!evento.destaque" class="col-md-3 lista-caixa">
                <div class="caixa-conteudo">
                    <div class="panel panel-default caixa-conteudo">
                        <div class="panel-heading">
                            <h3>{{evento.titulo}}</h3>
                        </div>
                        <div class="panel-body conteudo-menor">
                            <p style="text-align: left">{{evento.resumo}}</p>
                            <img ng-src="{{evento.imagemLista}}">

                            <div class="link">
                                <a ng-href="{{evento.hrefLink}}">{{evento.nomeLink}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>