<div class="container">
    <div class="row">

            <div class="col-md-2 menu-nav">
                <nav class="menu-produtos">
                <ul class="nav nav-pills nav-stacked ">
                    <li class="menus remos"><p>REMO INDOOR</p></li>
                    <li class="submenus"><a href="#/produtos/modelod">Modelo D</a></li>
                    <li class="submenus"><a href="#/produtos/modeloe">Modelo E</a></li>
                    <li class="submenus" ><a href="#/produtos/dynamic">Dynamic</a></li>
                    <li class="submenus"><a href="#/produtos/monitores">Monitores</a></li>
                    <li class="submenus"><a href="#/produtos/acessorios">Acessórios</a></li>
                    <li class="submenus"><a href="#/produtos/compare">Compare Modelos</a></li>
                    <li class="menus"><a href="#/produtos/skierg">SKIERG 2</a></li>
                    <li class="menus"><a href="#/produtos/remos">REMOS</a></li>
                    <li class="menus produtos"><a href="#/produtos/outros">OUTROS PRODUTOS</a></li>
                </ul>
                </nav>
            </div>
            <div class="col-md-7 menu-nav">
                    <img src="../static/img/produtos/modelod.jpg">
            </div>

        <div class="col-md-3 menu-nav">

                    <img  src="static/img/produtos/skierg.jpg">

        </div>
        <div class="col-md-4 menu-nav">

                    <img  src="../static/img/produtos/remos.jpg">

        </div>
        <div class="col-md-5 menu-nav">
                    <img src="../static/img/produtos/modeloe.jpg">

        </div>
        <div class="col-md-3 menu-nav">

                    <img  src="../static/img/produtos/outros.jpg">

        </div>
    </div>
</div>
