<div class="container">
    <div class="row">
        <div class="col-md-9 lista-caixa">
            <div class="caixa-conteudo">
                <h3>Modelo D</h3>
                <img src="../static/img/produtos/modelod.png">
            </div>
        </div>
        <div class="col-md-3 lista-caixa">
            <div class="caixa-conteudo">
                <h3>SkiErg2</h3>
                <img src="../static/img/produtos/skierg.png">
            </div>
        </div>
        <div class="col-md-4 lista-caixa">
            <div class="caixa-conteudo">
                <h3> Remos</h3>
                <img src="../static/img/produtos/remos.png">
            </div>
        </div>
        <div class="col-md-5 lista-caixa">
            <div class="caixa-conteudo">
                <h3>Modelo E</h3>
                <img src="../static/img/produtos/modeloe.png">
            </div>
        </div>
        <div class="col-md-3 lista-caixa">
            <div class="caixa-conteudo">
                <h3>Outros</h3>
                <img src="../static/img/produtos/outros.png">
            </div>
        </div>
    </div>
</div>
