<div class="container">
    <div class="row">
        <div class="col-md-9 lista-caixa destaque-caixa">
                <nav class="menu-produtos">
                <ul class="nav nav-pills nav-stacked ">
                    <li><a href="#">REMO INDOOR</a></li>
                    <li><a href="#">Modelo D</a></li>
                    <li><a href="#">Modelo E</a></li>
                    <li><a href="#">Dynamic</a></li>
                    <li><a href="#">Monitores</a></li>
                    <li><a href="#">Acessórios</a></li>
                    <li><a href="#">Compare Modelos</a></li>
                    <li><a href="#">SKIERG</a></li>
                    <li><a href="#">REMOS</a></li>
                    <li><a href="#">OUTROS PRODUTOS</a></li>
                </ul>
                </nav>

                    <img src="../static/img/produtos/modelod.jpg">

        </div>
        <div class="col-md-3 lista-caixa skierg-caixa">

                    <img  src="static/img/produtos/skierg.jpg">

        </div>
        <div class="col-md-4 lista-caixa remos-caixa ">

                    <img  src="../static/img/produtos/remos.jpg">

        </div>
        <div class="col-md-5 lista-caixa modeloe-caixa">
                    <img src="../static/img/produtos/modeloe.jpg">

        </div>
        <div class="col-md-3 lista-caixa outros-caixa">

                    <img  src="../static/img/produtos/outros.jpg">

        </div>
    </div>
</div>
