<div class="container suporte">
<div class="row">
  <div class="col-md-3 perguntas">
      <label><a href="" style="color: white; text-decoration: none">Perguntas Frequentes</a></label>
      <img  style="height: 80px" src="/static/img/suporte/Suporte-Perguntas.png" />

</div>
    <div class="col-md-3 quem-somos">
        <label><a href="" style="color: white; text-decoration: none">Quem Somos</a></label>
      <img style="height: 80px" src="/static/img/suporte/Suporte-quem-somos.png" />
    </div>

    <div class="col-md-3">
        <label><a href="" style="color: white; text-decoration: none">Manutençao</a></label>
      <img style="height: 80px" src="/static/img/suporte/Suporte-manutencao.png" />
    </div>

    <div class="col-md-3 download">
        <label><a href="" style="color: white; text-decoration: none">Download</a></label>
      <img style="height: 80px" src="/static/img/suporte/Suporte-downloads.png" />
    </div>

    <div class="col-md-3 regulagem">
        <label><a href="" style="color: white; text-decoration: none">Regulagem de Barcos</a></label>
      <img style="height: 80px" src="/static/img/suporte/Suporte-regulagem.png" />
    </div>

    <div class="col-md-3 dicionario">
        <label><a href="" style="color: white; text-decoration: none">Dicionario</a></label>
      <img style="height: 80px" src="/static/img/suporte/Suporte-dicionario.png" />
    </div>

    <div class="col-md-3 dicionario">
        <label><a href="" style="color: white; text-decoration: none">Treinamento</a></label>
      <img style="height: 80px" src="/static/img/suporte/Suporte-treinos.png" />
    </div>

    <div class="col-md-3 dicionario">
        <label><a href="" style="color: white; text-decoration: none">Cadastro</a></label>
      <img style="height: 80px" src="/static/img/suporte/Suporte-cadastro.png" />
    </div>
</div>
</div>