<div class="container">
    <div class="row caixa-texto">
        <div class="col-md-10">
            <h3>Macon</h3>

            <p>&nbsp;</p>

            <p>A pá Macon tornou-se popular na década de 1960 e foi o tipo de pá mais utilizada por trinta anos. Embora a maioria dos remadores mudaram suas preferências para as pás mais eficiente assimetricamente, ainda vendemos pás Macon principalmente por razões tradicionais.</p>

            <p>&nbsp;</p>
            <h4>Dimensões e Área de Superfície:</h4>

            <p>&nbsp;</p>
            <table class="table table-striped tabela">
                <tr>
                    <td></td>
                    <td>Palamente Simples</td>
                    <td>Palamenta Dupla</td>
                </tr>
                <tr>
                    <td>Superfície</td>
                    <td>971 cm²</td>
                    <td>695 cm²</td>
                </tr>
                <tr>
                    <td>Comprimento do remo</td>
                    <td>58 cm</td>
                    <td>50 cm</td>
                </tr>
                <tr>
                    <td>Largura do bico</td>
                    <td>16,5 - 18 cm</td>
                    <td>14 - 14,5 cm</td>
                </tr>
                <tr>
                    <td>Largura no ponto mais amplo</td>
                    <td>20 - 21 cm</td>
                    <td>17 - 18 cm</td>
                </tr>
            </table>
            <p>&nbsp;</p>
            <h4>Características desta Blade:</h4>

            <p><i class="fa fa-check">Forma simétrica de tulipa</i></p>

            <p><i class="fa fa-check">Coluna central</i></p>

            <p><i class="fa fa-check">Sem borda Vortex</i></p>

            <p>&nbsp;</p>

            <div class="col-md-10">
                <h5>Palameta Simples:</h5>

                <p>&nbsp;</p>

                <div class="col-md-4 palameta">
                    <img src="static/img/produtos/remos/MaconSwp_bladeBLU_wL.jpg"/>
                </div>
                <div class="col-md-4  palameta">
                    <img src="static/img/produtos/remos/MaconSwp_curveBLU_wL.jpg"/>
                </div>
                <div class="col-md-4  palameta">
                    <img src="static/img/produtos/remos/MaconSwp_scoopBLU_wL.jpg"/>
                </div>
                <p>&nbsp;</p>
            </div>
            <div class="col-md-10">
                <h5>Palameta Dupla:</h5>

                <p>&nbsp;</p>

                <div class="col-md-4 palameta">
                    <img src="static/img/produtos/remos/MaconScl_bladeBLU_wL.jpg">
                </div>
                <div class="col-md-4  palameta">
                    <img src="static/img/produtos/remos/MaconScl_curveBLU_wL.jpg"/>
                </div>
                <div class="col-md-4  palameta">
                    <img src="static/img/produtos/remos/MaconScl_scoopBLU_wL.jpg"/>
                </div>
            </div>

        </div>
    </div>
</div>