<div class="container ">
    <div class="row">
        <div class="col-md-2">
            <nav class="menu-produtos">
                <ul class="nav nav-pills nav-stacked ">
                    <li class="menu remo"><a>REMO INDOOR</a></li>
                    <li class="submenu"><a href="#/produtos/modeloD">Modelo D</a></li>
                    <li class="submenu"><a href="#">Modelo E</a></li>
                    <li class="submenu"><a href="#">Dynamic</a></li>
                    <li class="submenu"><a href="#">Monitores</a></li>
                    <li class="submenu"><a href="#">Acessórios</a></li>
                    <li class="submenu"><a href="#">Compare Modelos</a></li>
                    <li class="menu"><a href="#">SKIERG 2</a></li>
                    <li class="menu"><a href="#">REMOS</a></li>
                    <li class="menu"><a href="#">ACESSÓRIOS</a></li>
                    <li class="menu"><a href="#">OUTROS</a></li>
                </ul>
            </nav>
        </div>
        <div class="col-md-10 modelo">
            <div class="col-md-7">
                <img src="static/img/produtos/modelod/modelodbgbranco.jpg"/>
            </div>
            <div class="col-md-5">
            </div>
            <div class="col-md-12">
            <nav>
                <ul class="nav nav-tabs">
                    <li role="presentation" class="active"><a href="#">Sobre</a></li>
                    <li role="presentation"><a href="#">Características</a></li>
                    <li role="presentation"><a href="#">Especificações</a></li>
                </ul>
            </nav>
             </div>
        </div>
    </div>
</div>