<div class="container ">
    <div class="row">
        <div class="col-md-2">
            <nav class="menu-produtos">
                <ul class="nav nav-pills nav-stacked ">
                    <li class="menu remo"><a>REMO INDOOR</a></li>
                    <li class="submenu"><a href="#/produtos/modelod">Modelo D</a></li>
                    <li class="submenu"><a href="#">Modelo E</a></li>
                    <li class="submenu"><a href="#">Dynamic</a></li>
                    <li class="submenu"><a href="#">Monitores</a></li>
                    <li class="submenu"><a href="#">Acessórios</a></li>
                    <li class="submenu"><a href="#">Compare Modelos</a></li>
                    <li class="menu"><a href="#">SKIERG 2</a></li>
                    <li class="menu"><a href="#">REMOS</a></li>
                    <li class="menu"><a href="#">ACESSÓRIOS</a></li>
                    <li class="menu"><a href="#">OUTROS</a></li>
                </ul>
            </nav>
        </div>
        <div class="col-md-10 modelo">
            <div class="col-md-7">
                <img src="static/img/produtos/modelod/modelodbgbranco.jpg"/>
            </div>
            <div class="col-md-5">
            </div>
            <div class="col-md-12">
            <nav>
                <ul class="nav nav-tabs" >
                    <li role="presentation" ng-repeat="menus in menu"><a href="#/produtos/{{slug}}/{{menus.slug}}">{{menus.nome}}</a></li>

                </ul>
            </nav>
                <div ng-include="template"></div>
             </div>

        </div>
    </div>
</div>