<div class="container ">
    <div class="row">
        <div class="col-md-2" >
            <nav class="menu-produtos">
                <ul class="nav nav-pills nav-stacked ">
                    <li class="menu remo"><a>REMO INDOOR</a></li>
                    <li class="submenu"><a href="#/produtos/modelod">Modelo D</a></li>
                    <li class="submenu"><a href="#/produtos/modeloe">Modelo E</a></li>
                    <li class="submenu"><a href="#/produtos/dynamic">Dynamic</a></li>
                    <li class="submenu"><a href="#/produtos/monitores">Monitores</a></li>
                    <li class="submenu"><a href="#/produtos/compare">Compare Modelos</a></li>
                    <li class="menu"><a href="#/produtos/skierg">SKIERG 2</a></li>
                    <li class="menu"><a href="#/produtos/remos">REMOS</a></li>
                    <li class="menu"><a href="#/produtos/acessorios">ACESSÓRIOS</a></li>
                    <li class="menu"><a href="#/produtos/outros">OUTROS</a></li>
                </ul>
            </nav>
        </div>
        <div class="col-md-10 modelo" ng-include="produtoTemplate">
        </div>
    </div>
</div>