<div class="container ">
    <div class="row">
        <div class="col-md-2">
            <nav class="menu-produtos">
                <ul class="nav nav-pills nav-stacked ">
                    <li class="menu remo"><a>REMO INDOOR</a></li>
                    <li class="submenu"><a href="#/produtos/modelod">Modelo D</a></li>
                    <li class="submenu"><a href="#/produtos/modeloe">Modelo E</a></li>
                    <li class="submenu"><a href="#/produtos/dynamic">Dynamic</a></li>
                    <li class="submenu"><a href="#/produtos/monitores">Monitores</a></li>
                    <li class="submenu"><a href="#/produtos/compare">Compare Modelos</a></li>
                    <li class="menu"><a href="#/produtos/skierg">SKIERG 2</a></li>
                    <li class="menu"><a href="#/produtos/remos">REMOS</a></li>
                    <li class="menu"><a data-toggle="collapse" data-target="#acessorios" href="">ACESSÓRIOS</a>
                            <div id="acessorios" class="collapse">
                               <ul class="nav nav-pills nav-stacked ">
                                   <li class="sub-acessorios"><a href="#produtos/logcard">LogCard</a></li>
                                   <li class="sub-acessorios"><a href="">Leitor de Cartão</a></li>
                                   <li class="sub-acessorios"> <a href="">Slides</a></li>
                                   <li class="sub-acessorios"><a href="">Assento de Espuma</a></li>
                                   <li class="sub-acessorios"><a href="">Capas</a></li>
                                   <li class="sub-acessorios"><a href="">Kit de Frequência Cardíaca</a></li>
                                   <li class="sub-acessorios"><a href="">RowPro</a></li>
                                   <li class="sub-acessorios"><a href="">Kit de Conexão Iphone</a></li>
                               </ul>
                            </div>
                    </li>
                    <li class="menu"><a  data-toggle="collapse" data-target="#outros" href="">OUTROS</a>
                        <div id="outros" class="collapse">
                               <ul class="nav nav-pills nav-stacked ">
                                   <li class="sub-acessorios"><a href="">NK</a></li>
                                   <li class="sub-acessorios"><a href="">Cadence</a></li>
                                   <li class="sub-acessorios"> <a href="">AccuDock</a></li>
                                   <li class="sub-acessorios"><a href="">Empacher</a></li>
                                   <li class="sub-acessorios"><a href="">Capas</a></li>
                                   <li class="sub-acessorios"><a href="">CrossFit</a></li>
                               </ul>
                            </div>

                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-md-10 modelo" ng-include="produtoTemplate">
        </div>
    </div>
</div>