<div class="container">
<div class="row">
    <div class="col-md-10">
        <div class="col-md-7 imagem">
            <img src="static/img/suporte/movergames.jpg"/>
        </div>
        <div class="col-md-5" style="margin-left: -35px;">
            <h3 style="text-align: center">Mover Games</h3>
            <p style="text-align: justify">Realidade virtual para o Remo Indoor é o maior avanço tecnológico já lançado com o PM5. Com opções portátil ou com super-resolução, essa é uma experiência sem igual.</p>
            <p>&nbsp;</p>
            <p style="text-align: right">Faça o download</p>

        </div>
    </div>
</div>
</div>