<div class="container">
<div class="row">
    <div class="col-md-10 descricao-download">
        <div class="col-md-7 imagem">
            <img src="static/img/suporte/movergames.jpg" style="width: 95%;margin-left: -10px"/>
        </div>
        <div class="col-md-4 ">
            <h3 style="text-align: center">Mover Games</h3>
            <p style="text-align: justify">Realidade virtual para o Remo Indoor é o maior avanço tecnológico já lançado com o PM5. Com opções portátil ou com super-resolução, essa é uma experiência sem igual.</p>
            <p>&nbsp;</p>
            <img src="static/img/suporte/movergamesicon.jpg" style="margin-left: -20px"/>
             <p>&nbsp;</p>
            <a href=""><p style="text-align: center">movergames.com</p></a>

        </div>
    </div>
</div>
</div>